@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.adds-card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, min-content) 1fr;
  width: 100%;
  min-height: 130px;
  padding-top: 13px;
  padding-bottom: 18px;

  @include m.response(medium) {
    grid-template-columns: 4fr 9fr 2fr;
    column-gap: 10px;
    align-items: baseline;
    min-height: 139px;
    padding: 26px 38px 28px;
  }

  @include m.response(large) {
    grid-template-columns: 34% 25% 7% minmax(min-content, 244px);
    column-gap: 20px;
    align-items: baseline;
    padding: 15px 0 16px;
    min-height: 72px;
  }
}

.adds-card__title {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 13px;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-main-big;
  line-height: 100%;
  color: c.$txt-base-secondary;
  text-transform: uppercase;

  @include m.response(medium) {
    grid-column: 1/2;
    font-size: v.$font-size-menu-big;
    margin-bottom: 24px;
  }

  @include m.response(large) {
    margin: 0;
  }
}

.adds-card__data {
  margin-bottom: 15px;

  @include m.response(medium) {
    margin: 0;
  }

  &--unit {
    grid-column: 1/2;

    @include m.response(medium) {
      grid-column: 2/3;
      justify-self: end;
    }

    @include m.response(large) {
      justify-self: start;
    }
  }

  &--quantity {
    grid-column: 2/-1;
    justify-self: end;

    @include m.response(medium) {
      grid-column: 3/4;
    }

    @include m.response(large) {
      justify-self: start;
    }
  }
}

.adds-card__value {
  margin: 0;
  font-size: v.$font-size-main;
  line-height: 100%;
  color: c.$txt-base;

  @include m.response(medium) {
    font-size: v.$font-size-main-big;
    line-height: 125%;
  }
}

.adds-card__button {
  grid-column: 1/-1;
  align-self: end;
  padding: 10px;
  font-size: v.$font-size-main-big;
  line-height: 125%;
  text-align: center;

  @include m.response(large) {
    grid-column: 4/-1;
    align-self: auto;
  }
}
