@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.adds-card {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include m.response(medium) {
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: 10px;
    align-items: baseline;
  }

  @include m.response(large) {
    grid-template-columns: 2fr 1fr 1fr min(244px);
    column-gap: 20px;
    align-items: baseline;
  }
}

.adds-card__title {
  grid-column: 1/-1;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-main-big;
  line-height: 100%;
  color: c.$txt-base-secondary;
  text-transform: uppercase;

  @include m.response(medium) {
    grid-column: 1/2;
  }
}

.adds-card__data {
  &--unit {
    grid-column: 1/2;

    @include m.response(medium) {
      grid-column: 2/3;
      justify-self: end;
    }
  }

  &--quantity {
    grid-column: 2/-1;
    justify-self: end;

    @include m.response(medium) {
      grid-column: 3/4;
    }
  }
}

.adds-card__value {
  margin: 0;
  font-size: v.$font-size-main;
  line-height: 100%;
  color: c.$txt-base;
}

.adds-card__button {
  grid-column: 1/-1;

  @include m.response(large) {
    grid-column: 4/-1;
  }
}
