@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.adds-card__title {
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-main-big;
  line-height: 100%;
  color: c.$txt-base-secondary;
  text-transform: uppercase;
}

.adds-card__data {
  font-size: v.$font-size-main;
  line-height: 100%;
  color: c.$txt-base;
}
