
@use "../base/colors" as c;
@use "../base/variables" as v;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding: 7px 44px;
  font-family: v.$font-oswald;
  font-size: v.$font-size-main;
  line-height: 129%;
  font-weight: 400;
  color: c.$txt-accent;
  text-decoration: none;
  text-transform: uppercase;
  background-color: c.$bg-accent;
  border: none;
  cursor: pointer;
}
