
@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: v.$font-main;
  font-weight: 400;
  color: c.$txt-accent;
  text-decoration: none;
  text-transform: uppercase;
  background-color: c.$bg-accent;
  border: none;
  transition: background-color 0.1s ease-out;
  cursor: pointer;

  @include m.response(medium) {
    &:hover {
      background-color: c.$bg-accent-dark;
    }

    &:active {
      color: rgba(c.$txt-accent, 0.3);
      background-color: c.$bg-accent-dark;
    }
  }
}

.button--more {
  color: c.$txt-base;
  background-color: c.$bg-block;

  @include m.response(medium) {
    &:hover {
      background-color: c.$bg-block-dark-secondary;
    }

    &:active {
      color: rgba(c.$txt-base, 0.3);
      background-color: c.$bg-block-dark-secondary;
    }
  }
}
