@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.catalog-adds {
  margin-bottom: 35px;
  background-color: c.$bg-base;
  overflow-x: hidden;

  @include m.response(medium) {
    margin-bottom: 76px;
  }

  @include m.response(large) {
    margin-bottom: 86px;
  }
}

.catalog-adds__title {
  margin: 0;
  margin-bottom: 36px;

  @include m.response(medium) {
    margin-bottom: 80px;
  }
}

.catalog-adds__wrapper {
  display: flex;
  flex-direction: column;

  @include m.response(large) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalog-adds__list {
  @include m.reset-list;
  flex-shrink: 1;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-bottom: 35px;

  @include m.response(medium) {
    margin-bottom: 69px;
  }

  @include m.response(largre) {
    max-width: 896px;
  }
}

.catalog-adds__item {
  border-top: 1px solid c.$border-base;

  &:last-child {
    border-bottom: 1px solid c.$border-base;
  }

  @include m.response(medium) {
    border: 1px solid c.$border-base;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid c.$border-base;
    }
  }

  @include m.response(large) {
    border: none;
    border-top: 1px solid c.$border-base;

    &:last-child {
      border-bottom: 1px solid c.$border-base;
    }
  }
}

.catalog-adds__gift {
  @include m.response(large) {
    margin-left: 20px;
  }
}
