@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.catalog-adds {
  background-color: c.$bg-base;
}

.catalog-adds__wrapper {
  display: flex;
  flex-direction: column;

  @include m.response(large) {
    flex-direction: row;
  }
}

.catalog-adds__list {
  @include m.reset-list;
  flex-grow: 1;
}

.catalog-adds__item {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: c.$bg-block-dark-secondary;
    content: "";
  }

  &:last-child::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: c.$bg-block-dark-secondary;
    content: "";
  }
}

.catalog-adds__gift {
  @include m.response(large) {
    margin-left: 80px;
  }
}
