@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.comparison {
  position: relative;
  width: 280px;
  height: 256px;

  @include m.response(medium) {
    width: 560px;
    height: 512px;
  }
}

.comparison__container {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;

  &--after {
    content: "";
    display: block;
    top: 0;
    right: 0;
  }

  &--before {
    content: "";
    display: block;
    top: 0;
    left: 0;
  }
}

.comparison__image {
  display: block;

  &--after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }

  &--before {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
  }
}

.comparison__divider {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background-color: c.$misc-icon;
  border-radius: 2px;
  transform: translateX(-50%);
  content: "";
}

.comparison__thumb {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: c.$bg-base;
  border: 2px solid c.$misc-icon;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
