@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.comparison-wrapper {
  position: relative;
  width: 280px;
  height: 256px;

  @include m.response(medium) {
    margin: 0 auto;
    margin-top: -151px;
    margin-bottom: 101px;
    width: 560px;
    height: 512px;
  }

  @include m.response(large) {
    margin: 0;
  }
}

.comparison__container {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;

  &--after {
    display: block;
    top: 0;
    right: 0;
  }

  &--before {
    display: block;
    top: 0;
    left: 0;
  }
}

.comparison__image {
  display: block;
  max-width: none;

  &--after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }

  &--before {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
  }

  @include m.response(medium) {
    width: 560px;
    height: auto;
  }
}

.comparison__thumb {
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: c.$bg-base;
  border: 2px solid c.$misc-icon;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: border-color 0.1s ease-out;

  &::before,
  &::after {
    position: absolute;
    top: 9px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    content: "";
    transition: border-color 0.1s ease-out;
  }

  &::before {
    left: 7px;
    border-width: 9px 8px 9px 0;
    border-color: transparent c.$misc-icon transparent transparent;
  }

  &::after {
    right: 7px;
    border-width: 9px 0 9px 8px;
    border-color: transparent transparent transparent c.$misc-icon;
  }

  @include m.response(medium) {
    &:hover {
      border-color: c.$bg-accent;
    }

    &:hover::before {
      border-color: transparent c.$bg-accent transparent transparent;
    }

    &:hover::after {
      border-color: transparent transparent transparent c.$bg-accent;
    }

    &:active {
      border-color: rgba(c.$bg-accent-dark, 0.6);
    }

    &:active::before {
      border-color: transparent c.$bg-accent-dark transparent transparent;
      opacity: 0.6;
    }

    &:active::after {
      border-color: transparent transparent transparent c.$bg-accent-dark;
      opacity: 0.6;
    }
  }
}

.comparison__divider {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background-color: c.$misc-icon;
  border-radius: 2px;
  transform: translateX(-50%);
  content: "";
  transition: background-color 0.1s ease-out;

  @include m.response(medium) {
    .comparison__thumb:hover + & {
      background-color: c.$bg-accent;
    }

    .comparison__thumb:active + & {
      background-color: c.$bg-accent-dark;
      opacity: 0.6;
    }
  }
}
