@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.contacts {
  position: relative;
  background-color: c.$bg-block;

  &--accent {
    background-color: c.$bg-base;
  }
}

.contacts-wrapper {
  position: relative;
}

.contacts__address-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;

  @include m.response(medium) {
    padding: 56px 40px;
  }

  @include m.response(large) {
    position: absolute;
    z-index: map-get(v.$layers, address);
    top: 95px;
    left: map-get(v.$indents, large);
    width: 565px;
    padding: 56px 80px;
    background-color: c.$bg-base;
  }
}

.contacts__title {
  margin: 0;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-menu-big;
  line-height: 130%;
  color: c.$txt-base-rare;
  text-transform: uppercase;

  @include m.response-reverse(medium) {
    font-size: v.$font-size-main-big;
    line-height: 125%;
  }
}

.contacts__address {
  font: inherit;
  font-size: v.$font-size-main-big;
  line-height: 125%;

  @include m.response-reverse(medium) {
    font-size: v.$font-size-main;
    line-height: 143%;
    text-align: left;
  }

  @include m.response(medium) {
    text-align: right;
  }

  @include m.response(large) {
    text-align: left;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;

  @include m.response(medium) {
    height: 400px;
  }
}

.contacts__street {
  margin: 0;
  margin-bottom: 25px;

  @include m.response-reverse(medium) {
    margin-bottom: 0;
  }

  @include m.response(large) {
    margin-bottom: 19px;
  }
}

.contacts__city {
  margin: 0;

  @include m.response(medium) {
    margin-bottom: 2px;
  }

  @include m.response(large) {
    margin-bottom: 7px;
  }
}
