@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.contacts {
  position: relative;
  background-color: c.$bg-block;

  &--accent {
    background-color: c.$bg-base;
  }
}

.contacts-wrapper {
  position: relative;

  @include m.response(large) {
    width: 100%;
    padding-top: 95px;
    padding-bottom: 107px;
  }
}

.contacts__address-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  @include m.response(medium) {
    padding: 59px 40px;
  }

  @include m.response(large) {
    position: relative;
    z-index: map-get(v.$layers, address);
    width: 565px;
    padding: 60px 80px;
    padding-bottom: 56px;
    background-color: c.$bg-base;
  }
}

.contacts__title {
  margin: 0;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-menu-big;
  line-height: 130%;
  color: c.$txt-base-rare;
  text-transform: uppercase;

  @include m.response-reverse(medium) {
    font-size: v.$font-size-main-big;
    line-height: 125%;
  }
}

.contacts__address {
  margin-right: 4px;
  font: inherit;
  font-size: v.$font-size-main-big;
  line-height: 125%;

  @include m.response-reverse(medium) {
    font-size: v.$font-size-main;
    line-height: 143%;
    text-align: left;
  }

  @include m.response(medium) {
    margin-top: -3px;
    margin-right: 2px;
    text-align: right;
  }

  @include m.response(large) {
    text-align: left;
  }
}

.contacts__street {
  margin: 0;
  margin-bottom: 21px;

  @include m.response-reverse(medium) {
    margin-bottom: 0;
  }

  @include m.response(large) {
    margin-bottom: 19px;
  }
}

.contacts__city {
  margin: 0;

  @include m.response(medium) {
    margin-bottom: 2px;
  }

  @include m.response(large) {
    margin-bottom: 7px;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;

  @include m.response(medium) {
    position: static;
    height: 400px;
  }

  @include m.response(large) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  &--nojs {
    display: none;
  }
}

.contacts__map-fallback {
  position: relative;
  display: none;

  @include m.response(large) {
    position: absolute;
    top: 0;
    left: 0;
  }

  &--nojs {
    display: block;
  }
}

.contacts__map-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contacts__map-pin {
  position: absolute;
  top: 53%;
  left: 50%;
  display: block;
  transform: translate(-46%, -100%);

  @include m.response(medium) {
    top: 63%;
    width: 113px;
    height: 106px;
  }

  @include m.response(large) {
    top: 58%;
    left: 66.5%;
  }
}
