@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.copyright {
  display: flex;
  align-items: center;
  color: c.$txt-base;

  @include m.response(medium) {
    &:active {
      opacity: 0.3;
    }
  }
}

.copyright__link {
  @include m.reset-link;
  margin-right: auto;
  font-weight: 400;
  font-size: v.$font-size-main-big;
  line-height: 112.5%;
  text-align: right;

  @include m.response(medium) {
    max-width: 250px;
    margin-right: 22px;
  }
}

.copyright__image {
  display: block;
  color: c.$txt-base;
  transition: color 0.1s ease-out;
}

.copyright:hover .copyright__image {
  @include m.response(medium) {
    color: c.$bg-accent;
  }
}
