@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.custom-checkbox {
  position: relative;
  width: fit-content;
  padding: 6px;
  padding-left: 46px;
  cursor: pointer;

  @include m.response(medium) {
    padding: 5px;
    padding-left: 60px;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}

.custom-checkbox__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid c.$border-base;
  transition: border-color 0.1s ease-out;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 14px;
    color: c.$bg-accent;
    background-image: url('data:image/svg+xml,%3Csvg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7 11.718L1.3 5.26951L0.25 6.45739L7 14.0938L18.25 1.36648L17.2 0.09375L7 11.718Z" fill="%2368B738"/%3E%3C/svg%3E%0A');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: 0 0;
    transition: all 0.1s ease-out;
    opacity: 0;
    content: "";
  }

  @include m.response(medium) {
    width: 40px;
    height: 40px;

    &::after {
      width: 18px;
      height: 18px;
    }
  }

  .custom-checkbox__input:checked + &::after {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    transition-delay: 0.1s;
  }

  .custom-checkbox__input:focus-visible + & {
    border-color: c.$txt-base;
    outline: 1px solid c.$txt-base;
  }

  .custom-checkbox--disabled & {
    opacity: 0.3;
    pointer-events: none;
  }

  @include m.response(medium) {
    .custom-checkbox:hover & {
      border-color: c.$border-accent;
    }
  }
}
