@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.custom-radio {
  position: relative;
  width: fit-content;
  padding: 5px;
  padding-left: 46px;
  cursor: pointer;

  @include m.response(medium) {
    padding-left: 60px;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}

.custom-radio__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid c.$border-base;
  border-radius: 50%;
  transition: border-color 0.1s ease-out;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13.5px;
    height: 13.5px;
    border-radius: 50%;
    background-color: c.$bg-accent;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: 0 0;
    transition: all 0.1s ease-out;
    opacity: 0;
    content: "";
  }

  @include m.response(medium) {
    width: 40px;
    height: 40px;

    &::after {
      width: 18px;
      height: 18px;
    }
  }

  .custom-radio__input:checked + &::after {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    transition-delay: 0.1s;
  }

  .custom-radio__input:focus + & {
    border-color: c.$border-accent;
  }

  .custom-radio--disabled & {
    opacity: 0.3;
    pointer-events: none;
  }

  @include m.response(medium) {
    .custom-radio:hover & {
      border-color: c.$border-accent;
    }
  }
}
