@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.example {
  background-color: c.$bg-block-dark;

  @include m.response(medium) {
    background-color: c.$bg-base;
  }

  @include m.response(large) {
    background-color: c.$bg-block-dark;
  }
}

.example__wrapper {
  padding-top: 25px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  @include m.response(medium) {
    padding-top: 43px;
    padding-bottom: 0;
  }

  @include m.response(large) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.example__info {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;

  @include m.response(medium) {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 250px;
  }

  @include m.response(large) {
    margin: 0;
    margin-left: max(110px, calc(110px + (100vw - 1440px) / 2));
    margin-right: 0;
    padding-bottom: 0;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  color: c.$txt-title;

  @include m.response(medium) {
    margin-bottom: 63px;
  }

  @include m.response(large) {
    margin-top: -206px;
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;

  @include m.response(medium) {
    font-size: v.$font-size-main-big;
    margin-bottom: 54px;
  }

  @include m.response(large) {
    width: 433px;
    margin-bottom: 69px;
  }
}

.example__data-wrapper {
  display: flex;
  flex-direction: column;

  @include m.response(medium) {
    flex-direction: row;
  }

  @include m.response(large) {
    flex-direction: column;
  }
}

.example__data {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  grid-template-areas: "data data";
  gap: 15px 32px;
  width: fit-content;
  margin: 0 auto;

  @include m.response(medium) {
    grid-template-columns: repeat(2, 162px);
    grid-template-areas: "data data"
      "data data";
    gap: 20px 42px;
    width: 100%;
  }

  @include m.response(large) {
    grid-template-columns: repeat(2, 162px);
    grid-template-areas: "data data";
    gap: 30px 42px;
    width: fit-content;
    margin: 0;
  }
}

.example__data-container {
  position: relative;
  width: 124px;
  height: 56px;
  display: flex;
  flex-direction: column-reverse;
  flex-shrink: 0;
  justify-content: center;
  border: 1px solid c.$border-base;
  border-radius: 3px;

  @include m.response(medium) {
    width: 162px;
    height: 72px;
  }
}

.example__parameter {
  position: absolute;
  top: 105%;
  left: 50%;
  width: min-content;
  padding: 0 10px;
  font-size: v.$font-size-micro;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: c.$bg-block-dark;
  transform: translate(-50%, -50%);

  @include m.response(medium) {
    top: 100%;
    width: max-content;
    font-size: v.$font-size-main;
    background-color: c.$bg-base;
  }

  @include m.response(large) {
    font-size: v.$font-size-main;
    background-color: c.$bg-block-dark;
  }
}

.example__value {
  margin: 0;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-subtitle;
  line-height: 100%;
  color: c.$txt-title;
  text-align: center;
  text-transform: uppercase;

  @include m.response(medium) {
    font-size: 30px;
    line-height: 123%;
  }
}

.example__total {
  grid-area: text;
  display: block;
  margin: 0;
  margin-top: 34px;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-main;
  line-height: 143%;
  color: c.$txt-title;
  text-align: center;
  text-transform: uppercase;

  & br {
    display: none;
  }

  @include m.response(medium) {
    flex-shrink: 0;
    margin: 0;
    margin-top: 11px;
    font-size: v.$font-size-menu-big;
    line-height: 130%;
    text-align: right;

    & br {
      display: block;
    }
  }

  @include m.response(large) {
    margin-top: 60px;
    text-align: left;

    & br {
      display: none;
    }
  }
}

.example__price {
  @include m.response(large) {
    margin-left: 65px; /* подобрать это число в пикселях или процентах для попадания в макет */
  }
}

.example__comparison {
  margin: 0 auto;

  @include m.response(medium) {
    width: 100%;
    margin: 0;
    background-color: c.$bg-block-dark;
  }

  @include m.response(large) {
    width: auto;
    margin: 0;
    margin-right: max(110px, calc(110px + (100vw - 1440px) / 2));
    margin-top: -206px;
    flex-shrink: 0;
    background-color: transparent;
  }
}
