@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.feature__title {
  margin-bottom: 40px;
  color: c.$txt-title;
}

.feature__list {
  @include m.reset-list;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 0;
  counter-reset: feature-counter;

  @include m.response(medium) {
    $container-width: 708px;
    grid-template-columns: repeat(2, calc(250px / $container-width * 100%));
    gap: 37px calc(150px / $container-width * 100%);
  }

  @include m.response(large) {
    $container-width: 1220px;
    grid-template-columns: repeat(4, calc(250px / $container-width * 100%));
    gap: 37px calc(80px / $container-width * 100%);
  }
}

.feature__item {
  position: relative;
  display: flex;
  min-height: 60px;

  &::before {
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: c.$bg-accent;
    content: "";
  }

  @include m.response(medium) {
    min-height: 280px;
    flex-direction: column;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      display: block;
      position: absolute;
      z-index: map-get(v.$layers, back);
      right: 0;
      bottom: 0;
      font-family: v.$font-main;
      font-weight: 400;
      font-size: 280px;
      line-height: 100%;
      color: c.$bg-block;
      counter-increment: feature-counter;
      content: counter(feature-counter);
    }
  }
}

.feature__text {
  margin: 0;
}
