@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.footer-primary {
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: c.$bg-block;

  @include m.response(medium) {
    padding-top: 58px;
    padding-bottom: 55px;
  }

  @include m.response(large) {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}

.footer-primary__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  list-style-type: none;

  @include m.response(medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-primary__item {
  position: relative;

  @include m.response-reverse(medium) {
    &:not(:last-child)::after {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: c.$misc-line;
      content: "";
    }
  }
}

.footer-primary__link {
  @include m.reset-link;
  display: block;
}

.footer-primary__lettering {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;

  @include m.response(medium) {
    margin: 0;
    transition: opacity 0.1s ease-out;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.footer-primary__social-list {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 21px;

  @include m.response(medium) {
    max-width: 300px;
    margin: 0;
  }

  @include m.response(large) {
    max-width: 400px;
  }
}

.footer-primary__copyright {
  margin-top: 22px;

  @include m.response(medium) {
    max-width: 300px;
    margin: 0;
  }
}
