@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.form {
  @include m.response(medium) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include m.response(large) {
    padding: 0;
  }
}

.form__wrapper {
  padding-bottom: 26px;

  @include m.response(medium) {
    padding-bottom: 75px;
  }

  @include m.response(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-bottom: 69px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__fieldset--cat {
  margin-bottom: 24px;

  @include m.response(medium) {
    margin-bottom: 72px;
  }

  @include m.response(large) {
    margin-bottom: 0;
  }
}

.form__fieldset--goal {
  position: relative;
  padding-top: 22px;
  padding-bottom: 20px;

  @include m.response(medium) {
    padding: 24px 27px;
    border: 1px solid c.$border-lite;
  }

  @include m.response(large) {
    margin: 0;
  }

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: c.$misc-line;
    content: "";

    @include m.response(medium) {
      display: none;
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.form__fieldset--personal {
  margin-bottom: 24px;

  @include m.response(medium) {
    margin-bottom: 65px;
  }
}

.form__fieldset--comment {
  margin-bottom: 23px;

  @include m.response(medium) {
    margin-bottom: 65px;
  }

  @include m.response(large) {
    margin-bottom: 67;
  }
}

.form__fieldset--adds {
  margin-bottom: 34px;

  @include m.response(medium) {
    margin-bottom: 54px;
  }

  @include m.response(large) {
    margin-bottom: 61px;
  }
}

.form__cat-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;

  @include m.response(medium) {
    gap: 20px;
  }
}

.form__goal-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
}

.form__owner-info-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;

  @include m.response(medium) {
    gap: 20px;
  }

  @include m.response(large) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.form__adds-info-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
  margin-top: -2px;

  @include m.response(medium) {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: -20px;
  }

  @include m.response(large) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.form__button-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 21px;
  margin-bottom: 32px;

  @include m.response(medium) {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-bottom: 72px;
  }

  @include m.response(large) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 82px;
  }
}

.form__label-container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.form__label {
  flex-shrink: 0;
  cursor: pointer;

  &--cat {
    margin-right: 13px;

    @include m.response(medium) {
      margin-right: 11px;
    }

    @include m.response(large) {
      margin-right: 13px;
    }
  }

  &--weight {
    margin-right: 14px;

    @include m.response(medium) {
      margin-right: 17px;
    }

    @include m.response(large) {
      margin-right: 14px;
    }
  }

  &--age {
    margin-right: 13px;

    @include m.response(medium) {
      margin-right: 14px;
    }

    @include m.response(large) {
      margin-right: 14px;
    }
  }

  &--email {
    margin-right: 11px;

    @include m.response(medium) {
      margin-right: 18px;
    }

    @include m.response(large) {
      margin-right: 20px;
    }
  }

  &--phone {
    margin-right: 8px;

    @include m.response(medium) {
      margin-right: 14px;
    }

    @include m.response(large) {
      margin-right: 15px;
    }
  }
}

.form__input {
  flex-grow: 1;
}

.form__input--comment {
  width: 100%;
  height: 151px;
  margin: 0;
  padding: 10px 15px;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-main-big;
  line-height: 112%;
  color: c.$txt-base;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: 0 0 0 1px c.$border-lite;
  transition: box-shadow 0.1s ease-out;
  appearance: none;
  resize: none;

  &::placeholder {
    opacity: 1;
    color: c.$txt-base;
  }

  &--disabled {
    background-color: hsl(0, 1%, 95%);
    pointer-events: none;
  }

  @include m.response(medium) {
    height: 174px;
    padding: 10px 19px;
    font-size: v.$font-size-menu-big;

    &:hover {
      box-shadow: 0 0 0 1px c.$border-base;
    }

    &:focus {
      box-shadow: 0 0 0 1px c.$txt-base inset,
        0 0 0 1px c.$txt-base;
    }
  }
}

.form__input-icon {
  position: absolute;

  .form__input:not(:placeholder-shown) ~ & {
    color: c.$misc-error;
  }

  .form__input:valid ~ & {
    color: c.$txt-base-secondary;
  }

  .form__input:focus ~ & {
    color: c.$bg-accent;
  }
}

.form__input-icon--email {
  top: 16px;
  right: 15px;
  width: 20px;
  height: 14px;

  @include m.response(medium) {
    top: 19px;
    right: 19px;
    width: 18px;
    height: 13px;
  }
}

.form__input-icon--phone {
  top: 13px;
  right: 13px;
  width: 20px;
  height: 20px;

  @include m.response(medium) {
    top: 16px;
    right: 17px;
    width: 20px;
    height: 20px;
  }
}

.form__legend-container {
  position: relative;
  margin-bottom: 36px;

  &::before {
    display: block;
    position: absolute;
    top: 15px;
    left: calc(50% + 20px);
    width: calc(100vw - 40px);
    height: 2px;
    background-color: c.$bg-accent;
    transform: translateX(-50%);
    content: "";
  }

  @include m.response (medium) {
    margin-bottom: 76px;

    &::before {
      display: block;
      position: absolute;
      top: 20px;
      left: calc(50%);
      width: calc(100vw);
      height: 2px;
      background-color: c.$bg-accent;
      transform: translateX(-50%);
      content: "";
    }
  }

  @include m.response (large) {
    &::before {
      display: block;
      position: absolute;
      top: 20px;
      left: calc(50%);
      width: calc(100vw);
      height: 2px;
      background-color: c.$bg-accent;
      transform: translateX(-50%);
      content: "";
    }
  }
}

.form__legend {
  max-width: 300px;
  margin: 0;
  padding: 0;
  padding-right: 22px;
  background-color: c.$bg-base;

  & .break::after {
    content: "\A";
    white-space: pre;
  }

  @include m.response(medium) {
    max-width: 600px;
    margin-left: -40px;
    padding-left: 41px;
    padding-right: 41px;

    & .break::after {
      white-space: nowrap;
    }
  }

  @include m.response(large) {
    max-width: 650px;
    padding-left: 40px;
    padding-right: 35px;
  }
}

.form__button {
  padding: 10px;
  font-size: v.$font-size-main-big;
  line-height: 125%;

  @include m.response(medium) {
    padding: 13px;
    font-size: v.$font-size-menu-big;
    line-height: 130%;
  }
}

.form__footnote {
  margin: 0;
  line-height: 114%;
  color: c.$txt-title;
  text-align: center;

  @include m.response(medium) {
    align-self: center;
    font-size: v.$font-size-main-big;
    line-height: 100%;
    text-align: left;
  }
}
