@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.form {
  @include m.response(medium) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include m.response(large) {
    padding: 0;
  }
}

.form__wrapper {
  padding-bottom: 26px;

  @include m.response(medium) {
    padding-bottom: 75px;
  }

  @include m.response(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-bottom: 69px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__fieldset--cat {
  margin-bottom: 24px;

  @include m.response(medium) {
    margin-bottom: 72px;
  }

  @include m.response(large) {
    margin-bottom: 0;
  }
}

.form__fieldset--goal {
  position: relative;
  padding-top: 22px;
  padding-bottom: 20px;

  @include m.response(medium) {
    padding: 24px 27px;
    border: 1px solid c.$border-lite;
  }

  @include m.response(large) {
    margin: 0;
  }

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: c.$misc-line;
    content: "";

    @include m.response(medium) {
      display: none;
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.form__cat-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;

  @include m.response(medium) {
    gap: 20px;
  }
}

.form__goal-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
}

.form__label-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.form__label {
  flex-shrink: 0;

  &--cat {
    margin-right: 13px;

    @include m.response(medium) {
      margin-right: 11px;
    }

    @include m.response(large) {
      margin-right: 13px;
    }
  }

  &--weight {
    margin-right: 14px;

    @include m.response(medium) {
      margin-right: 17px;
    }

    @include m.response(large) {
      margin-right: 14px;
    }
  }

  &--age {
    margin-right: 13px;

    @include m.response(medium) {
      margin-right: 14px;
    }

    @include m.response(large) {
      margin-right: 14px;
    }
  }
}

.form__input {
  flex-grow: 1;
}
