@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  position: sticky;
  top: 0;
  z-index: map-get(v.$layers, header);
  background-color: c.$bg-base;

  @include m.response(large) {
    position: static;
    background-color: transparent;
  }

  &--nojs {
    @include m.response-reverse(medium) {
      position: static;
    }
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 65px;
  background-color: c.$bg-base;

  @include m.response-reverse(medium) {
    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 100vw;
      height: 1px;
      background-color: c.$misc-line;
      transform: translateX(-50%);
      content: "";
    }
  }

  @include m.response(medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 86px;
    padding-top: 24px;
  }

  @include m.response(large) {
    min-height: 112px;
    padding-top: 53px;
    background-color: transparent;
  }
}

.header__container {
  position: relative;
  z-index: map-get(v.$layers, header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  width: 100%;

  @include m.response(medium) {
    justify-content: flex-start;
    align-self: flex-start;
    width: auto;
    transition: opacity 0.1s ease-out;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.header__button {
  width: 24px;
  height: 24px;

  @include m.response(medium) {
    display: none;
  }
}

.header__image {
  display: block;

  @include m.response(medium) {
    width: 174px;
    height: 52px;
  }

  @include m.response(large) {
    width: 202px;
    height: 59px;
  }
}

.header__lettering {
  display: block;

  @include m.response(medium) {
    display: none;
  }
}

.header__menu {
  position: absolute;
  z-index: map-get(v.$layers, menu);
  top: -440%;
  left: 0;
  right: 0;

  @include m.response(medium) {
    position: static;
    z-index: auto;
    flex-grow: 1;
    max-width: 75%;
  }

  @include m.response(large) {
    max-width: 50%;
  }
}
