@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 65px;
  background-color: c.$bg-base;
  border-bottom: 1px solid c.$misc-line;

  &--index {
    border-bottom: none;
  }
}
