@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

$hero-ml-m: 90px;
$hero-ml-l: 80px;

.hero {
  position: relative;
  padding-top: 27px;

  &::before {
    position: absolute;
    top: 0;
    z-index: map-get(v.$layers, back);
    content: "";
    display: block;
    width: 100%;
    height: 302px;
    background: linear-gradient(rgba(c.$bg-accent, 0.85), rgba(c.$bg-accent, 0.85)), url("../img/bg_hero_small.jpg") top/cover no-repeat;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(c.$bg-accent, 0.85), rgba(c.$bg-accent, 0.85)), url("../img/bg_hero_small@2x.jpg") top/cover no-repeat;
    }
  }

  @include m.response(medium) {
    padding-top: 54px;
    padding-bottom: 0;

    &::before {
      display: none;
    }
  }

  @include m.response(large) {
    position: static;
    min-height: 574px;
    padding-top: 103px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      z-index: map-get(v.$layers, back);
      content: "";
      display: block;
      width: 50%;
      height: 694px;
      background: linear-gradient(rgba(c.$bg-accent, 0.85), rgba(c.$bg-accent, 0.85)), url("../img/bg_hero_large.jpg") top/cover no-repeat;

      @media (min-resolution: 2dppx) {
        background: linear-gradient(rgba(c.$bg-accent, 0.85), rgba(c.$bg-accent, 0.85)), url("../img/bg_hero_large@2x.jpg") top/cover no-repeat;
      }
    }
  }
}

.hero__container {
  display: grid;
  grid-template-areas: "title"
    "slogan"
    "image"
    "button";

  @include m.response(medium) {
    grid-template-areas: "title"
      "slogan"
      "button"
      "image";
  }

  @include m.response(large) {
    position: relative;
    grid-template-areas: "title image"
      "slogan image"
      "button image";
    grid-template-columns: 1fr 1fr;
  }
}

.hero__title {
  grid-area: title;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-title;
  line-height: 100%;
  text-align: center;
  color: c.$txt-accent;

  @include m.response(medium) {
    width: 450px;
    margin-left: 87px;
    margin-bottom: 41px;
    font-size: v.$font-size-title-big;
    text-align: left;
    color: c.$txt-title;
  }

  @include m.response(large) {
    margin-left: $hero-ml-l;
    margin-bottom: 40px;
  }
}

.hero__slogan {
  grid-area: slogan;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-main;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: c.$txt-accent;

  @include m.response(medium) {
    margin-left: 89px;
    margin-bottom: 49px;
    font-size: v.$font-size-menu-big;
    text-align: left;
    color: c.$txt-title;
  }

  @include m.response(large) {
    max-width: 450px;
    margin-left: $hero-ml-l;
    margin-bottom: 52px;
  }
}

.hero__image {
  grid-area: image;
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-bottom: 3px;

  @include m.response(medium) {
    position: relative;
    z-index: map-get(v.$layers, back);
    width: 100%;
    height: auto;
    margin-top: -83px;
  }

  @include m.response(large) {
    position: absolute;
    top: -82px;
    left: -162px;
    z-index: map-get(v.$layers, main);
    width: 552px;
    height: 499px;
    margin: 0;
  }
}

.hero__button {
  grid-area: button;
  width: 100%;
  padding: 11px;
  font-size: v.$font-size-main;
  line-height: 128%;
  text-align: center;

  @include m.response(medium) {
    width: 244px;
    margin-left: $hero-ml-m;
    padding: 17px;
    font-size: v.$font-size-menu-big;
    line-height: 100%;
  }

  @include m.response(large) {
    margin-left: $hero-ml-l;
  }
}
