@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.hero {

}

.hero__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: v.$font-family;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: c.$txt-accent;
  background-color: c.$bg-accent;
}

.hero__slogan {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-family: v.$font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: c.$txt-accent;
  background-color: c.$bg-accent;
}
