@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.input-text {
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 13px 16px 14px;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-main-big;
  line-height: 112%;
  color: c.$txt-base;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: 0 0 0 1px c.$border-lite;
  transition: box-shadow 0.1s ease-out;
  -webkit-appearance: none; /*stylelint-disable property-no-vendor-prefix*/
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &:not(:placeholder-shown) {
    box-shadow: 0 0 0 1px c.$misc-error,
      0 0 0 1px c.$misc-error inset;
  }

  &:valid {
    box-shadow: 0 0 0 1px c.$border-lite;
  }

  &--disabled {
    background-color: hsl(0, 1%, 95%);
    pointer-events: none;
  }

  @include m.response(medium) {
    height: 52px;
    padding: 11px 19px 12px;
    font-size: v.$font-size-menu-big;

    &:hover {
      box-shadow: 0 0 0 1px c.$border-base;
    }

    &:focus {
      box-shadow: 0 0 0 1px c.$txt-base inset,
        0 0 0 1px c.$txt-base;
    }
  }
}

.input-text--disabled + label {
  pointer-events: none;
}

.input-text--accent {
  padding-right: 40px;
  box-shadow: 0 0 0 1px c.$border-base;

  &:valid {
    box-shadow: 0 0 0 1px c.$border-base;
  }

  @include m.response(medium) {
    height: 52px;
    padding: 11px 19px 12px;
    padding-right: 56px;
    font-size: v.$font-size-menu-big;

    &:hover {
      box-shadow: 0 0 0 1px c.$border-accent;
    }

    &:focus {
      box-shadow: 0 0 0 1px c.$txt-base inset,
        0 0 0 1px c.$txt-base;
    }
  }
}
