@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.label {
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-main-big;
  line-height: 112%;
  text-transform: uppercase;

  &--mod {
    color: c.$txt-title;
  }
}
