@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.main__title {
  margin-top: 27px;
  margin-bottom: 41px;
  font-family: v.$font-main;
  font-weight: 400;
  line-height: 100%;
  color: c.$txt-title;

  @include m.response(medium) {
    font-size: v.$font-size-title-big;
    margin-top: 64px;
    margin-bottom: 82px;
  }

  @include m.response(large) {
    margin-top: 74px;
    margin-bottom: 84px;
  }
}
