@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.main {
  width: 100%;
}

.main__title {
  margin-top: 27px;
  margin-bottom: 41px;
  font-family: v.$font-main;
  font-size: v.$font-size-title;
  font-weight: 400;
  line-height: 100%;
  color: c.$txt-title;

  @include m.response(medium) {
    margin-top: 55px;
    margin-bottom: 82px;
    font-size: v.$font-size-title-big;
  }

  @include m.response(large) {
    margin-top: 76px;
    margin-bottom: 84px;
  }

  &--form {
    margin-bottom: 37px;

    @include m.response(medium) {
      margin-left: 40px;
      margin-bottom: 54px;
    }

    @include m.response(large) {
      margin-top: 74px;
      margin-left: 0;
      margin-bottom: 56px;
    }
  }
}

.main__text {
  width: 250px;
  margin: 0;
  margin-bottom: 39px;
  font-family: v.$font-main;
  font-weight: 400;
  color: c.$txt-title;
  text-transform: uppercase;
  background-color: c.$bg-base;

  @include m.response(medium) {
    width: 350px;
    margin-left: 40px;
    margin-bottom: 66px;
    font-size: v.$font-size-menu-big;
    line-height: 150%;
  }

  @include m.response(large) {
    margin-left: 0;
  }
}
