@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.menu-button {
  width: 24px;
  height: 19px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-button__E {
  position: relative;
  display: block;
  width: 24px;
  height: 1.5px;
  background-color: c.$txt-title;
  transform: scaleY(1);
  transition: transform 0.1s ease-out;
  transition-delay: 0.1s;

  &::before,
  &::after {
    display: block;
    position: absolute;
    width: 24px;
    height: 1.5px;
    background-color: c.$txt-title;
    content: "";
  }

  &::before {
    top: -8px;
  }

  &::after {
    bottom: -8px;
  }
}

.menu-button__X {
  position: relative;
  display: block;
  transform: scaleY(0);
  transition: transform 0.1s ease-out;

  &::before,
  &::after {
    display: block;
    position: absolute;
    width: 25px;
    height: 1.5px;
    background-color: c.$txt-title;
    content: "";
  }

  &::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.menu-button--open {
  & .menu-button__E {
    transform: scaleY(0);
    transition: transform 0.1s ease-out;
  }

  & .menu-button__X {
    transform: scaleY(1);
    transition: transform 0.1s ease-out;
    transition-delay: 0.1s;
  }
}
