@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.order-gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 290px;
  padding: 60px;
  padding-bottom: 40px;
  background: linear-gradient(rgba(c.$bg-accent, 0.85), rgba(c.$bg-accent, 0.85)), url("../img/gift-background.png") no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: c.$bg-accent;

  @include m.response(medium) {
    flex-direction: row;
    justify-content: space-between;
    padding: 64px 88px;
    min-height: 200px;
    background-position: 50%;
  }

  @include m.response(large) {
    flex-direction: column;
    width: 245px;
    min-height: 290px;
    padding: 42px;
    padding-top: 55px;
  }

  &::before {
    display: block;
    width: 78px;
    height: 80px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    outline: 2px solid #ffffff; //временная заглушка
    content: "";

    @include m.response(medium) {
      margin: 0;
    }

    @include m.response(large) {
      margin: 0;
      margin-bottom: 46px;
    }
  }
}

.order-gift__text {
  margin: 0;
  font-size: v.$font-size-main-big;
  line-height: 125%;
  color: c.$txt-accent;
  text-align: center;
}
