@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.order-gift {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 290px;
  padding: 59px 59px 43px;
  background: linear-gradient(rgba(c.$bg-accent, 0.85), rgba(c.$bg-accent, 0.85)), url("../img/bg_gift_small.jpg") no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: c.$bg-accent;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(c.$bg-accent, 0.85), rgba(c.$bg-accent, 0.85)), url("../img/bg_gift_small@2x.jpg") no-repeat;
    background-position: 50%;
    background-size: cover;
  }

  @include m.response(medium) {
    flex-direction: row;
    padding: 57px 77px 60px;
    padding-right: 110px;
    min-height: 200px;
    background: linear-gradient(rgba(c.$bg-accent, 0.85), rgba(c.$bg-accent, 0.85)), url("../img/bg_gift_medium.jpg") no-repeat;
    background-position: 50%;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(c.$bg-accent, 0.85), rgba(c.$bg-accent, 0.85)), url("../img/bg_gift_medium@2x.jpg") no-repeat;
      background-position: 50%;
      background-size: cover;
    }
  }

  @include m.response(large) {
    flex-direction: column;
    width: 245px;
    min-height: 289px;
    padding: 56px 42px 42px;
    background: linear-gradient(rgba(c.$bg-accent, 0.85), rgba(c.$bg-accent, 0.85)), url("../img/bg_gift_large.jpg") no-repeat;
    background-position: 50%;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(c.$bg-accent, 0.85), rgba(c.$bg-accent, 0.85)), url("../img/bg_gift_large@2x.jpg") no-repeat;
      background-position: 50%;
      background-size: cover;
    }
  }

  &::before {
    display: block;
    width: 78px;
    height: 80px;
    background: transparent url("./../img/icons/icon_gift.svg") center/100% no-repeat;
    content: "";

    @include m.response(medium) {
      width: 80px;
      height: 83px;
    }

    @include m.response(large) {
      width: 80px;
      height: 83px;
    }
  }
}

.order-gift__text {
  margin: 0;
  font-size: v.$font-size-main-big;
  line-height: 125%;
  color: c.$txt-accent;
  text-align: center;

  @include m.response(medium) {
    width: 175px;
    padding-top: 10px;
    text-align: left;
  }

  @include m.response(large) {
    width: auto;
    text-align: center;
  }
}
