@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.preview-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: c.$bg-block;
  min-height: 266px;
  height: 100%;
  padding: 20px;
  padding-top: 30px;

  @include m.response(medium) {
    min-height: 372px;
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 315px;
    padding-bottom: 57px;
  }

  @include m.response(large) {
    min-height: 374px;
    padding: 77px 52px 59px;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
  }
}

.preview-card--slim {
  &::before {
    top: 21px;
    left: 22px;
    width: 50px;
    height: 53px;
    background: transparent url("./../img/icons/icon_slim.svg") center/cover no-repeat;

    @include m.response(medium) {
      top: 81px;
      right: 62px;
      left: auto;
      width: 200px;
      height: 211px;
    }

    @include m.response(large) {
      top: 41px;
      left: 52px;
      right: auto;
      width: 100px;
      height: 106px;
    }
  }
}

.preview-card--pro {
  &::before {
    top: 24px;
    left: 13px;
    width: 67px;
    height: 50px;
    background: transparent url("./../img/icons/icon_pro.svg") center/cover no-repeat;

    @include m.response(medium) {
      top: 91px;
      right: 28px;
      left: auto;
      width: 268px;
      height: 200px;
    }

    @include m.response(large) {
      top: 47px;
      left: 33px;
      right: auto;
      width: 134px;
      height: 100px;
    }
  }
}

.preview-card__title {
  margin: 0;
  margin-bottom: 29px;
  margin-left: 71px;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-subtitle;
  line-height: 154%;
  color: c.$txt-title;
  text-transform: uppercase;

  @include m.response(medium) {
    font-size: v.$font-size-title;
    line-height: 100%;
    margin: 0;
    margin-bottom: 24px;
  }

  @include m.response(large) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.preview-card__text {
  margin: 0;
  padding: 0;

  @include m.response(medium) {
    padding: 0;
    font-size: v.$font-size-main-big;
    line-height: 150%;
  }
}

.preview-card__line {
  width: 100%;
  height: 1px;
  margin-top: auto;
  margin-bottom: 15px;
  background-color: c.$misc-line;

  @include m.response(medium) {
    display: none;
  }
}

.preview-card__link {
  @include m.reset-link;
  display: flex;
  align-items: center;
  width: fit-content;
  padding-right: 30px;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-main-big;
  line-height: 100%;
  color: c.$txt-title;
  text-transform: uppercase;

  @include m.response(medium) {
    margin-top: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: v.$font-size-menu-big;
  }

  &:active {
    opacity: 0.3;
  }
}

.preview-card__link-arrow {
  position: relative;
  width: 18px;
  height: 2px;
  margin-left: 15px;
  background-color: c.$txt-title;
  transition: width 0.1s ease-out;

  @include m.response(medium) {
    margin-left: 25px;

    .preview-card__link:hover & {
      width: 26px;
    }
  }

  &::after {
    position: absolute;
    z-index: 10;
    top: -5px;
    right: -6px;
    display: inline;
    width: 7px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 6L0.25 11.1962L0.25 0.803848L7 6Z' fill='black'/%3E%3C/svg%3E%0A");
    background-position: left center;
    background-repeat: no-repeat;
    content: "";
  }
}
