@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-height) 1fr;
  grid-template-areas: "image title"
    "image data"
    "button button";
  height: 100%;
  padding-top: 11px;
  padding-bottom: 14px;
  background-color: c.$bg-base;

  @include m.response(medium) {
    grid-template-columns: 1fr;
    grid-template-rows: 122px repeat(2, min-content) 1fr;
    grid-template-areas: "image"
      "title"
      "data"
      "button";
    min-height: 430px;
    padding: 39px 36px;
    background-color: c.$bg-block;
  }
}

.product-card__link {
  @include m.reset-link;
}

.product-card__link--title {
  grid-area: title;

  @include m.response(medium) {
    justify-self: center;
  }
}

.product-card__link--image {
  grid-area: image;
  justify-self: center;
  align-self: center;

  @include m.response(medium) {
    margin-top: -73px;
    margin-bottom: 34px;
    align-self: end;
    transition: filter 0.1s ease-out;

    &:hover {
      filter: brightness(0.9);
    }

    &:active {
      filter: brightness(0.8);
    }
  }

  @include m.response(large) {
    margin-top: -80px;
    margin-bottom: 42px;
    align-self: end;
  }
}

.product-card__image {
  display: block;

  &--small {
    width: 68px;
    height: auto;

    @include m.response(medium) {
      width: 163px;
    }
  }

  &--big {
    width: 84px;
    height: auto;

    @include m.response(medium) {
      width: 168px;
    }

    @include m.response(large) {
      width: 172px;
    }
  }
}


.product-card__title {
  width: 95px;
  margin: 0;
  margin-bottom: 19px;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-main-big;
  line-height: 125%;
  color: c.$txt-base-secondary;
  text-transform: uppercase;
  transition: opacity 0.1s ease-out;

  @include m.response(medium) {
    width: 150px;
    margin-bottom: 21px;
    font-size: v.$font-size-menu-big;
    line-height: 120%;
    text-align: center;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include m.response(large) {
    line-height: 105%;
  }
}

.product-card__data {
  margin-bottom: 15px;
  font-size: v.$font-size-micro;
  line-height: 133%;

  @include m.response(medium) {
    font-size: v.$font-size-main-big;
    line-height: 100%;
  }
}

.product-card__data-container {
  display: flex;
  justify-content: space-between;

  @include m.response(medium) {
    padding-top: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid c.$border-base;
  }
}

.product-card__value {
  flex-shrink: 0;
  width: 55px;
  margin: 0;
  padding: 0;
}

.product-card__button {
  grid-area: button;
  align-self: end;
  padding: 10px;
  font-size: v.$font-size-main-big;
  line-height: 125%;
  text-align: center;
}
