@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.products-preview {
  padding-top: 20px;
  padding-bottom: 20px;

  @include m.response(medium) {
    padding-top: 0;
    padding-bottom: 40px;
  }

  @include m.response(large) {
    padding-top: 82px;
    padding-bottom: 68px;
  }
}

.products-preview__list {
  @include m.reset-list;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @include m.response(medium) {
    gap: 30px;
  }

  @include m.response(large) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
