@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.form {
  @include m.response(medium) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include m.response(large) {
    padding: 0;
  }
}

.form__wrapper {
  @include m.response(large) {
    margin-bottom: 69px;
  }
}

.form__fieldset {
  &--cat {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    border: none;

    @include m.response(medium) {
      margin-bottom: 72px;
    }

    @include m.response(large) {
      margin-bottom: 0;
    }
  }
}

.form__cat-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;

  @include m.response(medium) {
    gap: 20px;
  }
}

.form__label-container {
  display: flex;
  align-items: center;
}

.form__label {
  flex-shrink: 0;

  &--cat {
    margin-right: 13px;

    @include m.response(medium) {
      margin-right: 11px;
    }

    @include m.response(large) {
      margin-right: 13px;
    }
  }

  &--weight {
    margin-right: 14px;

    @include m.response(medium) {
      margin-right: 17px;
    }

    @include m.response(large) {
      margin-right: 14px;
    }
  }

  &--age {
    margin-right: 13px;

    @include m.response(medium) {
      margin-right: 14px;
    }

    @include m.response(large) {
      margin-right: 14px;
    }
  }
}

.form__input {
  flex-grow: 1;
}
