@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.show-more__icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.show-more__title {
  font-family: v.$font-oswald;
  font-weight: 400;
  font-size: v.$font-size-main-big;
  line-height: 125%;
  color: c.$txt-base-rare;
  text-align: center;
  text-transform: uppercase;
}

.show-more__text {
  font-size: v.$font-size-micro;
  line-height: 133%;
  color: c.$txt-base;
  text-align: center;
}

.show-more__button {
  color: c.$txt-base;
  background-color: c.$bg-block;
}
