@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.show-more {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  min-height: 190px;
  padding-top: 11px;
  padding-bottom: 14px;
  background-color: c.$bg-base;

  @include m.response(medium) {
    grid-template-rows: repeat(3, min-content) 1fr;
    min-height: 430px;
    padding: 37px 36px;
    border: 2px solid c.$bg-block;
  }
}

.show-more__icon {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 0%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: c.$misc-show-more;
    transition: background-color 0.1s ease-out;
    content: "";
  }

  &::after {
    transform: rotate(90deg);
  }

  @include m.response(medium) {
    width: 60px;
    height: 60px;
    margin-top: 12px;
    margin-bottom: 50px;

    &:hover::before,
    &:hover::after {
      background-color: c.$border-accent;
    }

    &:active::before,
    &:active::after {
      background-color: c.$bg-block;
    }
  }
}

.show-more__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-family: v.$font-main;
  font-weight: 400;
  font-size: v.$font-size-main-big;
  line-height: 125%;
  color: c.$txt-base-rare;
  text-align: center;
  text-transform: uppercase;

  @include m.response(medium) {
    width: 150px;
    margin-bottom: 21px;
    font-size: v.$font-size-menu-big;
    line-height: 120%;
    text-align: center;
  }

  @include m.response(large) {
    line-height: 105%;
  }
}

.show-more__text {
  margin: 0;
  font-size: v.$font-size-micro;
  line-height: 133%;
  color: c.$txt-base;
  text-align: center;

  @include m.response(medium) {
    width: 175px;
    font-size: v.$font-size-main-big;
    line-height: 112%;
  }
}

.show-more__button {
  align-self: end;
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: v.$font-size-main-big;
  line-height: 125%;
}
