@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.site-navigation__button {
  width: 34px;
  height: 34px;
}

.site-navigation__list {
  @include m.reset-list;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: map-get(v.$layers, menu);
  display: none;
  width: 100%;
  background-color: c.$bg-base;
}

.site-navigation__list--opened {
  display: block;
}

.site-navigation__item {
  border-bottom: 1px solid c.$border-lite-add;

  &:first-child {
    border-top: 1px solid c.$border-lite-add;
  }
}

.site-navigation__link {
  @include m.reset-link;
  display: block;
  padding: 22px;

  @include m.response(small) {
    padding-left: map-get(v.$indents, small);
    padding-right: map-get(v.$indents, small);
  }

  font-family: v.$font-main;
  font-weight: 500;
  font-size: v.$font-size-menu;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: c.$txt-title;
}
