@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.site-navigation {
  display: none;
  background-color: c.$bg-base;

  @include m.response(medium) {
    display: block;
    background-color: transparent;
  }

  @include m.response(large) {
    background-color: transparent;
  }

  &--nojs {
    display: block;
  }

  &--opened {
    display: block;
    position: absolute;
    z-index: map-get(v.$layers, menu);
    top: 100%;
    left: 0;
    right: 0;
  }
}

.site-navigation__list {
  @include m.reset-list;
  display: flex;
  flex-direction: column;

  @include m.response(medium) {
    flex-direction: row;
  }
}

.site-navigation__item {
  text-align: center;
}

.site-navigation__link {
  @include m.reset-link;
  display: block;
  padding: 22px 50px 24px 50px;
  font-family: v.$font-main;
  font-weight: 500;
  font-size: v.$font-size-menu-big;
  line-height: 100%;
  color: c.$txt-title;
  text-transform: uppercase;

  @include m.response(medium) {
    padding: 22px 0 24px 34px;
  }
}
