@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.site-navigation {
  @include m.response(medium) {
    margin-left: auto;
    align-self: flex-end;
  }
}

.site-navigation__button {
  width: 24px;
  height: 24px;

  @include m.response(medium) {
    display: none;
  }
}

.site-navigation__list {
  @include m.reset-list;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: map-get(v.$layers, menu);
  display: none;
  width: 100%;

  @include m.response-reverse(medium) {
    background-color: c.$bg-base;
  }

  @include m.response(medium) {
    position: static;
    display: flex;
  }
}

.site-navigation__list--opened {
  display: block;
}

.site-navigation__item {
  @media (max-width: (map-get(v.$breakpoints, medium) - 1px)) {
    border-bottom: 1px solid c.$misc-line;

    &:first-child {
      border-top: 1px solid c.$misc-line;
    }
  }

  @include m.response(medium) {
    &:last-child {
      margin-right: -17px;
    }
  }
}

.site-navigation__link {
  @include m.reset-link;
  display: block;
  font-family: v.$font-main;
  text-transform: uppercase;
  color: c.$txt-title;

  @media (max-width: map-get(v.$breakpoints, medium)) {
    padding: 22px;
    padding-left: map-get(v.$indents, small);
    padding-right: map-get(v.$indents, small);
    font-weight: 500;
    line-height: 100%;
    font-size: v.$font-size-menu-big;
    text-align: center;
  }

  @include m.response(medium) {
    font-weight: 400;
    font-size: v.$font-size-menu;
    line-height: 133%;
    padding: 10px 17px;
  }

  @include m.response(large) {
    font-weight: 400;
    font-size: v.$font-size-menu-big;
    line-height: 150%;
    padding: 10px 17px;
  }
}
