@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.site-navigation {
  color: c.$txt-title;
  background-color: c.$bg-base;
  transition: top 0.3s ease-out;

  @include m.response(medium) {
    position: static;
    background-color: transparent;
  }

  @include m.response(large) {
    background-color: transparent;
  }

  &--nojs {
    position: static;
    z-index: auto;
  }

  &--opened {
    top: calc(100% - 1px);
  }
}

.site-navigation__list {
  @include m.reset-list;
  display: flex;
  flex-direction: column;

  @include m.response(medium) {
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

.site-navigation__item {
  text-align: center;

  @include m.response-reverse(medium) {
    border-top: 1px solid c.$misc-line;

    &:last-child {
      border-bottom: 1px solid c.$misc-line;
    }
  }

  @include m.response(medium) {
    margin-left: 36px;
  }

  @include m.response(large) {
    margin-left: 34px;
  }
}

.site-navigation__link {
  @include m.reset-link;
  display: block;
  padding: 22px 50px 24px 50px;
  font-family: v.$font-main;
  font-weight: 500;
  font-size: v.$font-size-menu-big;
  line-height: 100%;
  text-transform: uppercase;

  @include m.response(medium) {
    position: relative;
    padding: 18px 0 10px;
    font-weight: 400;
    font-size: v.$font-size-menu;
    line-height: 133%;
    transition: opacity 0.1s ease-out;

    &--current::after {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: c.$bg-accent;
      content: "";
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include m.response(large) {
    padding: 10px 0 10px;
    font-weight: 400;
    font-size: v.$font-size-menu-big;
    line-height: 150%;
  }
}

.site-navigation--accent {
  @include m.response(large) {
    color: c.$txt-accent;

    .site-navigation__link--current::after {
      background-color: c.$bg-base;
    }
  }
}
