@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.social__item {
  margin: 4px 12px 8px;
}

.social__link {
  @include m.reset-link;
  display: block;
}

.social__icon {
  display: block;
  color: c.$txt-base;

  @include m.response(medium) {
    transition: color 0.1s ease-out;

    &:hover {
      color: c.$bg-accent;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
