@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.subtitle {
  position: relative;
  width: max-content;
  font-family: v.$font-oswald;
  font-weight: 400;
  font-size: v.$font-size-subtitle;
  line-height: 108%;
  color: c.$txt-title;

  &--mod {
    line-height: 100%;
  }
}
