@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.web-contacts {
  background-color: c.$bg-block;
}

.web-contacts__list {
  @include m.reset-list;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.web-contacts__item {
  &:not(:last-child)::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: c.$misc-line;
  }
}
