$txt-base: #444444;
$txt-base-secondary: #222222;
$txt-base-rare: #111111;
$txt-title: #000000;
$txt-accent: #ffffff;

$bg-base: #ffffff;
$bg-block: #f2f2f2;
$bg-block-dark: #eaeaea;
$bg-block-dark-secondary: #ebebeb;
$bg-accent: #68b738;
$bg-accent-dark: #5eaa2f;

$border-base: #cdcdcd;
$border-accent: #bababa;
$border-lite: #e7e7e7;
$border-lite-add: #e6e6e6;

$misc-error: #ff8282;
$misc-line: #d9d9d9;
$misc-icon: #666666;
$misc-show-more: #d3d3d3;
