@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

.main {
  margin-top: 65px;

  @include m.response(medium) {
    margin-top: 76px;
  }

  @include m.response(large) {
    margin-top: 112px;
  }
}
