$font-main: "Oswald", "Arial", "Helvetica", sans-serif;

$font-size-micro: 12px;
$font-size-main: 14px;
$font-size-main-big: 16px;
$font-size-menu: 20px;
$font-size-subtitle: 24px;
$font-size-title: 36px;

$page-wrapper-indent: 20px;
