@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #444444;
}

.page-wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 700px) {
  .page-wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1240px) {
  .page-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.main {
  width: 100%;
}

.main__title {
  margin-top: 27px;
  margin-bottom: 41px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
}
@media (min-width: 700px) {
  .main__title {
    margin-top: 55px;
    margin-bottom: 82px;
    font-size: 60px;
  }
}
@media (min-width: 1240px) {
  .main__title {
    margin-top: 76px;
    margin-bottom: 84px;
  }
}
.main__title--form {
  margin-bottom: 37px;
}
@media (min-width: 700px) {
  .main__title--form {
    margin-left: 40px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1240px) {
  .main__title--form {
    margin-top: 74px;
    margin-left: 0;
    margin-bottom: 56px;
  }
}

.main__text {
  width: 250px;
  margin: 0;
  margin-bottom: 39px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}
@media (min-width: 700px) {
  .main__text {
    width: 350px;
    margin-left: 40px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 150%;
  }
}
@media (min-width: 1240px) {
  .main__text {
    margin-left: 0;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #ffffff;
}
@media (min-width: 1240px) {
  .header {
    position: static;
    background-color: transparent;
  }
}
@media (max-width: 699px) {
  .header--nojs {
    position: static;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 65px;
  background-color: #ffffff;
}
@media (max-width: 699px) {
  .header__wrapper::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #d9d9d9;
    transform: translateX(-50%);
    content: "";
  }
}
@media (min-width: 700px) {
  .header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 86px;
    padding-top: 24px;
  }
}
@media (min-width: 1240px) {
  .header__wrapper {
    min-height: 112px;
    padding-top: 53px;
    background-color: transparent;
  }
}

.header__container {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  width: 100%;
}
@media (min-width: 700px) {
  .header__container {
    justify-content: flex-start;
    align-self: flex-start;
    width: auto;
    transition: opacity 0.1s ease-out;
  }
  .header__container:hover {
    opacity: 0.8;
  }
  .header__container:active {
    opacity: 0.6;
  }
}

.header__button {
  width: 24px;
  height: 24px;
}
@media (min-width: 700px) {
  .header__button {
    display: none;
  }
}

.header__image {
  display: block;
}
@media (min-width: 700px) {
  .header__image {
    width: auto;
    height: 52px;
    margin-right: 26px;
  }
}
@media (min-width: 1240px) {
  .header__image {
    width: auto;
    height: 59px;
    margin-right: 48px;
  }
}

.header__lettering {
  display: block;
}

.header__menu {
  position: absolute;
  z-index: -1;
  top: -440%;
  left: 0;
  right: 0;
}
@media (min-width: 700px) {
  .header__menu {
    position: static;
    z-index: auto;
    flex-grow: 1;
    max-width: 75%;
  }
}
@media (min-width: 1240px) {
  .header__menu {
    max-width: 50%;
  }
}

.menu-button {
  width: 24px;
  height: 19px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-button__E {
  position: relative;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  transform: scaleY(1);
  transition: transform 0.1s ease-out;
  transition-delay: 0.1s;
}
.menu-button__E::before, .menu-button__E::after {
  display: block;
  position: absolute;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  content: "";
}
.menu-button__E::before {
  top: -8px;
}
.menu-button__E::after {
  bottom: -8px;
}

.menu-button__X {
  position: relative;
  transform: scaleY(0);
  transition: transform 0.1s ease-out;
}
.menu-button__X::before, .menu-button__X::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 1.5px;
  background-color: #000000;
  content: "";
}
.menu-button__X::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-button__X::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-button--open .menu-button__E {
  transform: scaleY(0);
  transition: transform 0.1s ease-out;
}
.menu-button--open .menu-button__X {
  transform: scaleY(1);
  transition: transform 0.1s ease-out;
  transition-delay: 0.1s;
}

.site-navigation {
  color: #000000;
  background-color: #ffffff;
  transition: top 0.3s ease-out;
}
@media (min-width: 700px) {
  .site-navigation {
    position: static;
    background-color: transparent;
  }
}
@media (min-width: 1240px) {
  .site-navigation {
    background-color: transparent;
  }
}
.site-navigation--nojs {
  position: static;
  z-index: auto;
}
.site-navigation--opened {
  top: calc(100% - 1px);
}

.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .site-navigation__list {
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

.site-navigation__item {
  text-align: center;
}
@media (max-width: 699px) {
  .site-navigation__item {
    border-top: 1px solid #d9d9d9;
  }
  .site-navigation__item:last-child {
    border-bottom: 1px solid #d9d9d9;
  }
}
@media (min-width: 700px) {
  .site-navigation__item {
    margin-left: 36px;
  }
}
@media (min-width: 1240px) {
  .site-navigation__item {
    margin-left: 34px;
  }
}

.site-navigation__link {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 22px 50px 24px 50px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
}
@media (min-width: 700px) {
  .site-navigation__link {
    position: relative;
    padding: 18px 0 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    transition: opacity 0.1s ease-out;
  }
  .site-navigation__link--current::after {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #68b738;
    content: "";
  }
  .site-navigation__link:hover {
    opacity: 0.6;
  }
  .site-navigation__link:active {
    opacity: 0.3;
  }
}
@media (min-width: 1240px) {
  .site-navigation__link {
    padding: 10px 0 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
  }
}

@media (min-width: 1240px) {
  .site-navigation--accent {
    color: #ffffff;
  }
  .site-navigation--accent .site-navigation__link--current::after {
    background-color: #ffffff;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;
  transition: background-color 0.1s ease-out;
  cursor: pointer;
}
@media (min-width: 700px) {
  .button:hover {
    background-color: #5eaa2f;
  }
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
    outline: none;
    box-shadow: none;
  }
}

.button--disabled {
  background-color: #bbcfaf;
  pointer-events: none;
}

.button--more {
  color: #444444;
  background-color: #f2f2f2;
}
@media (min-width: 700px) {
  .button--more:hover {
    background-color: #ebebeb;
  }
  .button--more:active {
    color: rgba(68, 68, 68, 0.3);
    background-color: #ebebeb;
  }
}
.button--more.button--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.hero {
  position: relative;
  padding-top: 27px;
}
.hero::before {
  position: absolute;
  top: 0;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 302px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/hero_background_small.jpg") top/cover no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero::before {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/hero_background_small@2x.jpg") top/cover no-repeat;
  }
}
@media (min-width: 700px) {
  .hero {
    padding-top: 54px;
    padding-bottom: 0;
  }
  .hero::before {
    display: none;
  }
}
@media (min-width: 1240px) {
  .hero {
    position: static;
    min-height: 582px;
    padding-top: 111px;
  }
  .hero::before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    content: "";
    display: block;
    width: 50%;
    height: 694px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/hero_background_large.jpg") top/cover no-repeat;
  }
}
@media (min-width: 1240px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1240px) and (min-resolution: 2dppx) {
  .hero::before {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/hero_background_large@2x.jpg") top/cover no-repeat;
  }
}

.hero__container {
  display: grid;
  grid-template-areas: "title" "slogan" "image" "button";
}
@media (min-width: 700px) {
  .hero__container {
    grid-template-areas: "title" "slogan" "button" "image";
  }
}
@media (min-width: 1240px) {
  .hero__container {
    position: relative;
    grid-template-areas: "title image" "slogan image" "button image";
    grid-template-columns: 1fr 1fr;
  }
}

.hero__title {
  grid-area: title;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 700px) {
  .hero__title {
    width: 450px;
    margin-left: 90px;
    margin-bottom: 41px;
    font-size: 60px;
    text-align: left;
    color: #000000;
  }
}
@media (min-width: 1240px) {
  .hero__title {
    margin-left: 80px;
    margin-bottom: 40px;
  }
}

.hero__slogan {
  grid-area: slogan;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 700px) {
  .hero__slogan {
    margin-left: 90px;
    margin-bottom: 49px;
    font-size: 20px;
    text-align: left;
    color: #000000;
  }
}
@media (min-width: 1240px) {
  .hero__slogan {
    margin-left: 80px;
    margin-bottom: 52px;
  }
}

.hero__image {
  grid-area: image;
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-bottom: 3px;
}
@media (min-width: 700px) {
  .hero__image {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
    margin-top: -83px;
  }
}
@media (min-width: 1240px) {
  .hero__image {
    position: absolute;
    top: -82px;
    left: -162px;
    z-index: 0;
    width: 552px;
    height: 499px;
    margin: 0;
  }
}

.hero__button {
  grid-area: button;
  width: 100%;
  padding: 11px;
  font-size: 14px;
  line-height: 128%;
}
@media (min-width: 700px) {
  .hero__button {
    width: 244px;
    margin-left: 90px;
    padding: 17px;
    font-size: 20px;
    line-height: 100%;
  }
}
@media (min-width: 1240px) {
  .hero__button {
    margin-left: 80px;
  }
}

.products-preview {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 700px) {
  .products-preview {
    padding-top: 0;
  }
}
@media (min-width: 1240px) {
  .products-preview {
    padding-top: 82px;
    padding-bottom: 36px;
  }
}

.products-preview__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 700px) {
  .products-preview__list {
    gap: 30px;
  }
}
@media (min-width: 1240px) {
  .products-preview__list {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.preview-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  min-height: 266px;
  height: 100%;
  padding: 20px;
  padding-top: 30px;
}
@media (min-width: 700px) {
  .preview-card {
    min-height: 372px;
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 315px;
    padding-bottom: 57px;
  }
}
@media (min-width: 1240px) {
  .preview-card {
    min-height: 374px;
    padding: 77px 52px 59px;
  }
}
.preview-card::before {
  position: absolute;
  display: block;
  content: "";
}

.preview-card--slim::before {
  top: 21px;
  left: 22px;
  width: 50px;
  height: 53px;
  background: transparent url("./../img/icons/icon-slim.svg") center/cover no-repeat;
}
@media (min-width: 700px) {
  .preview-card--slim::before {
    top: 81px;
    right: 62px;
    left: auto;
    width: 200px;
    height: 211px;
  }
}
@media (min-width: 1240px) {
  .preview-card--slim::before {
    top: 41px;
    left: 52px;
    right: auto;
    width: 100px;
    height: 106px;
  }
}

.preview-card--pro::before {
  top: 24px;
  left: 13px;
  width: 67px;
  height: 50px;
  background: transparent url("./../img/icons/icon-pro.svg") center/cover no-repeat;
}
@media (min-width: 700px) {
  .preview-card--pro::before {
    top: 91px;
    right: 28px;
    left: auto;
    width: 268px;
    height: 200px;
  }
}
@media (min-width: 1240px) {
  .preview-card--pro::before {
    top: 47px;
    left: 33px;
    right: auto;
    width: 134px;
    height: 100px;
  }
}

.preview-card__title {
  margin: 0;
  margin-bottom: 29px;
  margin-left: 71px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 700px) {
  .preview-card__title {
    font-size: 36px;
    line-height: 100%;
    margin: 0;
    margin-bottom: 24px;
  }
}
@media (min-width: 1240px) {
  .preview-card__title {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.preview-card__text {
  margin: 0;
  padding: 0;
}
@media (min-width: 700px) {
  .preview-card__text {
    padding: 0;
    font-size: 16px;
    line-height: 150%;
  }
}

.preview-card__line {
  width: 100%;
  height: 1px;
  margin-top: auto;
  margin-bottom: 15px;
  background-color: #d9d9d9;
}
@media (min-width: 700px) {
  .preview-card__line {
    display: none;
  }
}

.preview-card__link {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 30px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 700px) {
  .preview-card__link {
    margin-top: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 20px;
  }
}
.preview-card__link:active {
  opacity: 0.3;
}

.preview-card__link-arrow {
  position: relative;
  width: 18px;
  height: 2px;
  margin-left: 15px;
  background-color: #000000;
  transition: width 0.1s ease-out;
}
@media (min-width: 700px) {
  .preview-card__link-arrow {
    margin-left: 25px;
  }
  .preview-card__link:hover .preview-card__link-arrow {
    width: 26px;
  }
}
.preview-card__link-arrow::after {
  position: absolute;
  z-index: 10;
  top: -5px;
  right: -6px;
  display: inline;
  width: 7px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 6L0.25 11.1962L0.25 0.803848L7 6Z' fill='black'/%3E%3C/svg%3E%0A");
  background-position: left center;
  background-repeat: no-repeat;
  content: "";
}

.title {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: #000000;
}
@media (min-width: 700px) {
  .title {
    font-size: 60px;
    line-height: 100%;
  }
}
.title--mod {
  line-height: 111%;
}

.feature {
  padding-bottom: 49px;
}
@media (min-width: 700px) {
  .feature {
    padding-bottom: 47px;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1240px) {
  .feature {
    padding-bottom: 212px;
    border-bottom: none;
  }
}

.feature__title {
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 700px) {
  .feature__title {
    margin-bottom: 32px;
  }
}

.feature__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 0;
  counter-reset: feature-counter;
}
@media (min-width: 700px) {
  .feature__list {
    grid-template-columns: repeat(2, 35.3107344633%);
    gap: 37px 21.186440678%;
  }
}
@media (min-width: 1240px) {
  .feature__list {
    grid-template-columns: repeat(4, 20.4918032787%);
    gap: 37px 6.5573770492%;
  }
}

.feature__item {
  position: relative;
  display: flex;
  min-height: 60px;
}
.feature__item::before {
  display: block;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}
.feature__item--nutricion::before {
  background-image: url("./../img/icons/icon_nutricion.svg");
}
.feature__item--cooking::before {
  background-image: url("./../img/icons/icon_cooking.svg");
}
.feature__item--diet::before {
  background-image: url("./../img/icons/icon_diet.svg");
}
.feature__item--terms::before {
  background-image: url("./../img/icons/icon_terms.svg");
}
@media (min-width: 700px) {
  .feature__item {
    flex-direction: column;
    min-height: 280px;
    padding-top: 40px;
  }
  .feature__item::before {
    width: 80px;
    height: 80px;
  }
  .feature__item::after {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    font-family: "Oswald", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 100%;
    color: #f2f2f2;
    counter-increment: feature-counter;
    content: counter(feature-counter);
  }
}

.feature__text {
  margin: 0;
  margin-left: 20px;
}
@media (min-width: 700px) {
  .feature__text {
    margin-left: 0;
    margin-top: 31px;
    font-size: 16px;
    line-height: 150%;
  }
}

.example {
  background-color: #eaeaea;
}
@media (min-width: 700px) {
  .example {
    background-color: #ffffff;
  }
}
@media (min-width: 1240px) {
  .example {
    background-color: #eaeaea;
  }
}

.example__wrapper {
  padding-top: 25px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .example__wrapper {
    padding-top: 43px;
    padding-bottom: 0;
  }
}
@media (min-width: 1240px) {
  .example__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.example__info {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}
@media (min-width: 700px) {
  .example__info {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 250px;
  }
}
@media (min-width: 1240px) {
  .example__info {
    margin: 0;
    margin-left: max(110px, 110px + (100vw - 1440px) / 2);
    margin-right: 0;
    padding-bottom: 0;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  color: #000000;
}
@media (min-width: 700px) {
  .example__title {
    margin-bottom: 63px;
  }
}
@media (min-width: 1240px) {
  .example__title {
    margin-top: -206px;
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 700px) {
  .example__text {
    font-size: 16px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1240px) {
  .example__text {
    width: 433px;
    margin-bottom: 69px;
  }
}

.example__data {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  grid-template-areas: "data data" "text text";
  gap: 15px 32px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.example__data br {
  display: none;
}
@media (min-width: 700px) {
  .example__data {
    grid-template-columns: repeat(2, 162px) 1fr;
    grid-template-areas: "data data text" "data data text";
    gap: 20px 42px;
    width: 100%;
  }
  .example__data br {
    display: block;
  }
}
@media (min-width: 1240px) {
  .example__data {
    grid-template-columns: repeat(2, 162px);
    grid-template-areas: "data data" "text text";
    gap: 30px 42px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
  }
  .example__data br {
    display: none;
  }
}

.example__data-container {
  position: relative;
  width: 124px;
  height: 56px;
  display: flex;
  flex-direction: column-reverse;
  flex-shrink: 0;
  justify-content: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 700px) {
  .example__data-container {
    width: 162px;
    height: 72px;
  }
}

.example__parameter {
  position: absolute;
  top: 105%;
  left: 50%;
  width: min-content;
  padding: 0 10px;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: #eaeaea;
  transform: translate(-50%, -50%);
}
@media (min-width: 700px) {
  .example__parameter {
    top: 100%;
    width: max-content;
    font-size: 14px;
    background-color: #ffffff;
  }
}
@media (min-width: 1240px) {
  .example__parameter {
    font-size: 14px;
    background-color: #eaeaea;
  }
}

.example__value {
  margin: 0;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 700px) {
  .example__value {
    font-size: 30px;
    line-height: 123%;
  }
}

.example__total {
  grid-area: text;
  margin: 0;
  margin-top: 20px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 700px) {
  .example__total {
    margin: 0;
    margin-top: 11px;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
  }
}
@media (min-width: 1240px) {
  .example__total {
    margin-top: 55px;
    text-align: left;
  }
}

@media (min-width: 1240px) {
  .example__price {
    margin-left: 65px;
    /* подобрать это число в пикселях или процентах для попадания в макет */
  }
}

.example__comparison {
  margin: 0 auto;
}
@media (min-width: 700px) {
  .example__comparison {
    width: 100%;
    margin: 0;
    background-color: #eaeaea;
  }
}
@media (min-width: 1240px) {
  .example__comparison {
    width: auto;
    margin: 0;
    margin-right: max(110px, 110px + (100vw - 1440px) / 2);
    margin-top: -206px;
    flex-shrink: 0;
    background-color: transparent;
  }
}

.comparison-wrapper {
  position: relative;
  width: 280px;
  height: 256px;
}
@media (min-width: 700px) {
  .comparison-wrapper {
    margin: 0 auto;
    margin-top: -151px;
    margin-bottom: 101px;
    width: 560px;
    height: 512px;
  }
}
@media (min-width: 1240px) {
  .comparison-wrapper {
    margin: 0;
  }
}

.comparison__container {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.comparison__container--after {
  display: block;
  top: 0;
  right: 0;
}
.comparison__container--before {
  display: block;
  top: 0;
  left: 0;
}

.comparison__image {
  display: block;
  max-width: none;
}
.comparison__image--after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.comparison__image--before {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
@media (min-width: 700px) {
  .comparison__image {
    width: 560px;
    height: auto;
  }
}

.comparison__thumb {
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: border-color 0.1s ease-out;
}
.comparison__thumb::before, .comparison__thumb::after {
  position: absolute;
  top: 9px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  content: "";
  transition: border-color 0.1s ease-out;
}
.comparison__thumb::before {
  left: 7px;
  border-width: 9px 8px 9px 0;
  border-color: transparent #666666 transparent transparent;
}
.comparison__thumb::after {
  right: 7px;
  border-width: 9px 0 9px 8px;
  border-color: transparent transparent transparent #666666;
}
@media (min-width: 700px) {
  .comparison__thumb:hover {
    border-color: #68b738;
  }
  .comparison__thumb:hover::before {
    border-color: transparent #68b738 transparent transparent;
  }
  .comparison__thumb:hover::after {
    border-color: transparent transparent transparent #68b738;
  }
  .comparison__thumb:active {
    border-color: rgba(94, 170, 47, 0.6);
  }
  .comparison__thumb:active::before {
    border-color: transparent #5eaa2f transparent transparent;
    opacity: 0.6;
  }
  .comparison__thumb:active::after {
    border-color: transparent transparent transparent #5eaa2f;
    opacity: 0.6;
  }
}

.comparison__divider {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background-color: #666666;
  border-radius: 2px;
  transform: translateX(-50%);
  content: "";
  transition: background-color 0.1s ease-out;
}
@media (min-width: 700px) {
  .comparison__thumb:hover + .comparison__divider {
    background-color: #68b738;
  }
  .comparison__thumb:active + .comparison__divider {
    background-color: #5eaa2f;
    opacity: 0.6;
  }
}

.contacts {
  position: relative;
  background-color: #f2f2f2;
}
.contacts--accent {
  background-color: #ffffff;
}

.contacts-wrapper {
  position: relative;
}

.contacts__address-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (min-width: 700px) {
  .contacts__address-wrapper {
    padding: 56px 40px;
  }
}
@media (min-width: 1240px) {
  .contacts__address-wrapper {
    position: absolute;
    z-index: 1;
    top: 95px;
    left: 110px;
    width: 565px;
    padding: 56px 80px;
    background-color: #ffffff;
  }
}

.contacts__title {
  margin: 0;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #111111;
  text-transform: uppercase;
}
@media (max-width: 699px) {
  .contacts__title {
    font-size: 16px;
    line-height: 125%;
  }
}

.contacts__address {
  font: inherit;
  font-size: 16px;
  line-height: 125%;
}
@media (max-width: 699px) {
  .contacts__address {
    font-size: 14px;
    line-height: 143%;
    text-align: left;
  }
}
@media (min-width: 700px) {
  .contacts__address {
    text-align: right;
  }
}
@media (min-width: 1240px) {
  .contacts__address {
    text-align: left;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;
}
@media (min-width: 700px) {
  .contacts__map {
    height: 400px;
  }
}

.contacts__street {
  margin: 0;
  margin-bottom: 25px;
}
@media (max-width: 699px) {
  .contacts__street {
    margin-bottom: 0;
  }
}
@media (min-width: 1240px) {
  .contacts__street {
    margin-bottom: 19px;
  }
}

.contacts__city {
  margin: 0;
}
@media (min-width: 700px) {
  .contacts__city {
    margin-bottom: 2px;
  }
}
@media (min-width: 1240px) {
  .contacts__city {
    margin-bottom: 7px;
  }
}

.footer-primary {
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: #f2f2f2;
}
@media (min-width: 700px) {
  .footer-primary {
    padding-top: 58px;
    padding-bottom: 55px;
  }
}
@media (min-width: 1240px) {
  .footer-primary {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}

.footer-primary__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  list-style-type: none;
}
@media (min-width: 700px) {
  .footer-primary__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-primary__item {
  position: relative;
}
@media (max-width: 699px) {
  .footer-primary__item:not(:last-child)::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    content: "";
  }
}

.footer-primary__link {
  color: inherit;
  text-decoration: none;
  display: block;
}

.footer-primary__lettering {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
}
@media (min-width: 700px) {
  .footer-primary__lettering {
    margin: 0;
    transition: opacity 0.1s ease-out;
  }
  .footer-primary__lettering:hover {
    opacity: 0.8;
  }
  .footer-primary__lettering:active {
    opacity: 0.6;
  }
}

.footer-primary__social-list {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 21px;
}
@media (min-width: 700px) {
  .footer-primary__social-list {
    max-width: 300px;
    margin: 0;
  }
}
@media (min-width: 1240px) {
  .footer-primary__social-list {
    max-width: 800px;
  }
}

.footer-primary__copyright {
  margin-top: 22px;
}
@media (min-width: 700px) {
  .footer-primary__copyright {
    margin: 0;
  }
}

.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.social__item {
  margin: 4px 12px 8px;
}

.social__link {
  color: inherit;
  text-decoration: none;
  display: block;
}

.social__icon {
  display: block;
  color: #444444;
}
@media (min-width: 700px) {
  .social__icon {
    transition: color 0.1s ease-out;
  }
  .social__icon:hover {
    color: #68b738;
  }
  .social__icon:active {
    opacity: 0.3;
  }
}

.copyright {
  display: flex;
  align-items: center;
  color: #444444;
}
@media (min-width: 700px) {
  .copyright:active {
    opacity: 0.3;
  }
}

.copyright__link {
  color: inherit;
  text-decoration: none;
  margin-right: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 112.5%;
}
@media (min-width: 700px) {
  .copyright__link {
    margin-right: 22px;
  }
}

.copyright__image {
  display: block;
  color: #444444;
  transition: color 0.1s ease-out;
}

@media (min-width: 700px) {
  .copyright:hover .copyright__image {
    color: #68b738;
  }
}

.catalog {
  margin-bottom: 36px;
}
@media (min-width: 700px) {
  .catalog {
    margin-bottom: 68px;
  }
}
@media (min-width: 1240px) {
  .catalog {
    margin-bottom: 76px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 19px;
}
@media (min-width: 700px) {
  .catalog__list {
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 60px;
  }
}
@media (min-width: 1240px) {
  .catalog__list {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 63px 80px;
  }
}

.catalog__item {
  position: relative;
}
.catalog__item::before {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background-color: #ebebeb;
  content: "";
}
.catalog__item:last-child::after {
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background-color: #ebebeb;
  content: "";
}
@media (min-width: 700px) {
  .catalog__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 511px;
  }
  .catalog__item::before, .catalog__item::after {
    display: none;
  }
}

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-height) 1fr;
  grid-template-areas: "image title" "image data" "button button";
  min-height: 190px;
  padding-top: 11px;
  padding-bottom: 14px;
  background-color: #ffffff;
}
@media (min-width: 700px) {
  .product-card {
    grid-template-columns: 1fr;
    grid-template-rows: 122px repeat(2, min-content) 1fr;
    grid-template-areas: "image" "title" "data" "button";
    min-height: 430px;
    padding: 39px 36px;
    background-color: #f2f2f2;
  }
}

.product-card__link {
  color: inherit;
  text-decoration: none;
}

.product-card__link--title {
  grid-area: title;
}
@media (min-width: 700px) {
  .product-card__link--title {
    justify-self: center;
  }
}

.product-card__link--image {
  grid-area: image;
  justify-self: center;
  align-self: center;
}
@media (min-width: 700px) {
  .product-card__link--image {
    margin-top: -73px;
    margin-bottom: 34px;
    align-self: end;
    transition: filter 0.1s ease-out;
  }
  .product-card__link--image:hover {
    filter: brightness(0.9);
  }
  .product-card__link--image:active {
    filter: brightness(0.8);
  }
}
@media (min-width: 1240px) {
  .product-card__link--image {
    margin-top: -80px;
    margin-bottom: 42px;
    align-self: end;
  }
}

.product-card__image {
  display: block;
}
.product-card__image--small {
  width: 68px;
  height: auto;
}
@media (min-width: 700px) {
  .product-card__image--small {
    width: 163px;
  }
}
.product-card__image--big {
  width: 84px;
  height: auto;
}
@media (min-width: 700px) {
  .product-card__image--big {
    width: 168px;
  }
}
@media (min-width: 1240px) {
  .product-card__image--big {
    width: 172px;
  }
}

.product-card__title {
  width: 95px;
  margin: 0;
  margin-bottom: 19px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #222222;
  text-transform: uppercase;
  transition: opacity 0.1s ease-out;
}
@media (min-width: 700px) {
  .product-card__title {
    width: 150px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
  }
  .product-card__title:hover {
    opacity: 0.8;
  }
  .product-card__title:active {
    opacity: 0.3;
  }
}
@media (min-width: 1240px) {
  .product-card__title {
    line-height: 105%;
  }
}

.product-card__data {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 133%;
}
@media (min-width: 700px) {
  .product-card__data {
    font-size: 16px;
    line-height: 100%;
  }
}

.product-card__data-container {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .product-card__data-container {
    padding-top: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__value {
  margin: 0;
  padding: 0;
}

.product-card__button {
  grid-area: button;
  align-self: end;
  padding: 10px;
  font-size: 16px;
  line-height: 125%;
}

.show-more {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  min-height: 190px;
  padding-top: 11px;
  padding-bottom: 14px;
  background-color: #ffffff;
}
@media (min-width: 700px) {
  .show-more {
    grid-template-rows: repeat(3, min-content) 1fr;
    min-height: 430px;
    padding: 37px 36px;
    border: 2px solid #f2f2f2;
  }
}

.show-more__icon {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.show-more__icon::before, .show-more__icon::after {
  position: absolute;
  top: 50%;
  left: 0%;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d3d3d3;
  transition: background-color 0.1s ease-out;
  content: "";
}
.show-more__icon::after {
  transform: rotate(90deg);
}
@media (min-width: 700px) {
  .show-more__icon {
    width: 60px;
    height: 60px;
    margin-top: 12px;
    margin-bottom: 50px;
  }
  .show-more__icon:hover::before, .show-more__icon:hover::after {
    background-color: #bababa;
  }
  .show-more__icon:active::before, .show-more__icon:active::after {
    background-color: #f2f2f2;
  }
}

.show-more__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 700px) {
  .show-more__title {
    width: 150px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
  }
}
@media (min-width: 1240px) {
  .show-more__title {
    line-height: 105%;
  }
}

.show-more__text {
  margin: 0;
  font-size: 12px;
  line-height: 133%;
  color: #444444;
  text-align: center;
}
@media (min-width: 700px) {
  .show-more__text {
    width: 175px;
    font-size: 16px;
    line-height: 112%;
  }
}

.show-more__button {
  align-self: end;
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  line-height: 125%;
}

.catalog-adds {
  margin-bottom: 35px;
  background-color: #ffffff;
}
@media (min-width: 700px) {
  .catalog-adds {
    margin-bottom: 76px;
  }
}
@media (min-width: 1240px) {
  .catalog-adds {
    margin-bottom: 86px;
  }
}

.catalog-adds__title-container {
  position: relative;
  margin-bottom: 36px;
}
.catalog-adds__title-container::before {
  display: block;
  position: absolute;
  top: 15px;
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  content: "";
}
@media (min-width: 700px) {
  .catalog-adds__title-container {
    margin-bottom: 80px;
  }
  .catalog-adds__title-container::before {
    top: 20px;
  }
}

.catalog-adds__title {
  max-width: 300px;
  margin: 0;
  padding-left: 20px;
  padding-right: 22px;
  background-color: #ffffff;
}
@media (min-width: 700px) {
  .catalog-adds__title {
    max-width: 450px;
    margin-left: 30px;
    padding-left: 37px;
    padding-right: 36px;
  }
}
@media (min-width: 1240px) {
  .catalog-adds__title {
    max-width: 650px;
    margin-left: max(70px, 70px + (100vw - 1440px) / 2);
    padding-left: 40px;
    padding-right: 35px;
  }
}

.catalog-adds__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1240px) {
  .catalog-adds__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalog-adds__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-bottom: 35px;
}
@media (min-width: 700px) {
  .catalog-adds__list {
    margin-bottom: 69px;
  }
}
@media (min-width: 1240px) {
  .catalog-adds__list {
    max-width: 896px;
    margin-bottom: 0;
  }
}

.catalog-adds__item {
  border-top: 1px solid #cdcdcd;
}
.catalog-adds__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 700px) {
  .catalog-adds__item {
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }
  .catalog-adds__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 1240px) {
  .catalog-adds__item {
    border: none;
    border-top: 1px solid #cdcdcd;
  }
  .catalog-adds__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog-adds__gift {
  flex-shrink: 0;
}
@media (min-width: 1240px) {
  .catalog-adds__gift {
    margin-left: 20px;
    align-self: flex-start;
  }
}

.subtitle {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
}
@media (min-width: 700px) {
  .subtitle {
    font-size: 36px;
  }
}

.adds-card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, min-content) 1fr;
  width: 100%;
  min-height: 130px;
  padding-top: 13px;
  padding-bottom: 19px;
}
@media (min-width: 700px) {
  .adds-card {
    grid-template-columns: 4fr 3fr 2fr;
    column-gap: 10px;
    align-items: baseline;
    min-height: 139px;
    padding: 26px 38px 28px;
  }
}
@media (min-width: 1240px) {
  .adds-card {
    grid-template-columns: 36.3% 25.1% 6.7% minmax(min-content, 244px);
    column-gap: 20px;
    align-items: baseline;
    padding: 15px 0 16px;
    min-height: 72px;
  }
}

.adds-card__title {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 13px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  text-transform: uppercase;
}
@media (min-width: 700px) {
  .adds-card__title {
    grid-column: 1/2;
    font-size: 20px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1240px) {
  .adds-card__title {
    margin: 0;
  }
}

.adds-card__data {
  margin-bottom: 15px;
}
@media (min-width: 700px) {
  .adds-card__data {
    margin: 0;
  }
}
.adds-card__data--unit {
  grid-column: 1/2;
}
@media (min-width: 700px) {
  .adds-card__data--unit {
    grid-column: 2/3;
    justify-self: end;
  }
}
@media (min-width: 1240px) {
  .adds-card__data--unit {
    justify-self: start;
  }
}
.adds-card__data--quantity {
  grid-column: 2/-1;
  justify-self: end;
}
@media (min-width: 700px) {
  .adds-card__data--quantity {
    grid-column: 3/4;
  }
}
@media (min-width: 1240px) {
  .adds-card__data--quantity {
    justify-self: start;
  }
}

.adds-card__value {
  margin: 0;
  font-size: 14px;
  line-height: 100%;
  color: #444444;
}
@media (min-width: 700px) {
  .adds-card__value {
    font-size: 16px;
    line-height: 125%;
  }
}

.adds-card__button {
  grid-column: 1/-1;
  align-self: end;
  padding: 10px;
  font-size: 16px;
  line-height: 125%;
}
@media (min-width: 1240px) {
  .adds-card__button {
    grid-column: 4/-1;
    align-self: auto;
  }
}

.order-gift {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 290px;
  padding: 59px 59px 43px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift_small.jpg") no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: #68b738;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .order-gift {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift_small@2x.jpg") no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}
@media (min-width: 700px) {
  .order-gift {
    flex-direction: row;
    padding: 57px 77px 60px;
    min-height: 200px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift_medium.jpg") no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}
@media (min-width: 700px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 700px) and (min-resolution: 2dppx) {
  .order-gift {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift_medium@2x.jpg") no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}
@media (min-width: 1240px) {
  .order-gift {
    flex-direction: column;
    width: 245px;
    min-height: 289px;
    padding: 56px 42px 42px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift_large.jpg") no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}
@media (min-width: 1240px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1240px) and (min-resolution: 2dppx) {
  .order-gift {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift_large@2x.jpg") no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}
.order-gift::before {
  display: block;
  width: 78px;
  height: 80px;
  background: transparent url("./../img/icons/icon_gift.svg") center/100% no-repeat;
  content: "";
}
@media (min-width: 700px) {
  .order-gift::before {
    width: 80px;
    height: 83px;
  }
}
@media (min-width: 1240px) {
  .order-gift::before {
    width: 80px;
    height: 83px;
  }
}

.order-gift__text {
  margin: 0;
  font-size: 16px;
  line-height: 125%;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 700px) {
  .order-gift__text {
    width: 175px;
    text-align: left;
  }
}
@media (min-width: 1240px) {
  .order-gift__text {
    width: auto;
    text-align: center;
  }
}

@media (min-width: 700px) {
  .form {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1240px) {
  .form {
    padding: 0;
  }
}

.form__wrapper {
  padding-bottom: 26px;
}
@media (min-width: 700px) {
  .form__wrapper {
    padding-bottom: 75px;
  }
}
@media (min-width: 1240px) {
  .form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-bottom: 69px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__fieldset--cat {
  margin-bottom: 24px;
}
@media (min-width: 700px) {
  .form__fieldset--cat {
    margin-bottom: 72px;
  }
}
@media (min-width: 1240px) {
  .form__fieldset--cat {
    margin-bottom: 0;
  }
}

.form__fieldset--goal {
  position: relative;
  padding-top: 22px;
  padding-bottom: 20px;
}
@media (min-width: 700px) {
  .form__fieldset--goal {
    padding: 24px 27px;
    border: 1px solid #e7e7e7;
  }
}
@media (min-width: 1240px) {
  .form__fieldset--goal {
    margin: 0;
  }
}
.form__fieldset--goal::before, .form__fieldset--goal::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background-color: #d9d9d9;
  content: "";
}
@media (min-width: 700px) {
  .form__fieldset--goal::before, .form__fieldset--goal::after {
    display: none;
  }
}
.form__fieldset--goal::before {
  top: 0;
}
.form__fieldset--goal::after {
  bottom: 0;
}

.form__fieldset--personal {
  margin-bottom: 24px;
}
@media (min-width: 700px) {
  .form__fieldset--personal {
    margin-bottom: 65px;
  }
}

.form__fieldset--comment {
  margin-bottom: 23px;
}
@media (min-width: 700px) {
  .form__fieldset--comment {
    margin-bottom: 65px;
  }
}
@media (min-width: 1240px) {
  .form__fieldset--comment {
    margin-bottom: 67;
  }
}

.form__fieldset--adds {
  margin-bottom: 34px;
}
@media (min-width: 700px) {
  .form__fieldset--adds {
    margin-bottom: 54px;
  }
}
@media (min-width: 1240px) {
  .form__fieldset--adds {
    margin-bottom: 61px;
  }
}

.form__cat-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
}
@media (min-width: 700px) {
  .form__cat-wrapper {
    gap: 20px;
  }
}

.form__goal-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
}

.form__owner-info-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}
@media (min-width: 700px) {
  .form__owner-info-wrapper {
    gap: 20px;
  }
}
@media (min-width: 1240px) {
  .form__owner-info-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.form__adds-info-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
  margin-top: -2px;
}
@media (min-width: 700px) {
  .form__adds-info-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: -20px;
  }
}
@media (min-width: 1240px) {
  .form__adds-info-wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.form__button-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 21px;
  margin-bottom: 32px;
}
@media (min-width: 700px) {
  .form__button-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-bottom: 72px;
  }
}
@media (min-width: 1240px) {
  .form__button-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 82px;
  }
}

.form__label-container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.form__label {
  flex-shrink: 0;
  cursor: pointer;
}
.form__label--cat {
  margin-right: 13px;
}
@media (min-width: 700px) {
  .form__label--cat {
    margin-right: 11px;
  }
}
@media (min-width: 1240px) {
  .form__label--cat {
    margin-right: 13px;
  }
}
.form__label--weight {
  margin-right: 14px;
}
@media (min-width: 700px) {
  .form__label--weight {
    margin-right: 17px;
  }
}
@media (min-width: 1240px) {
  .form__label--weight {
    margin-right: 14px;
  }
}
.form__label--age {
  margin-right: 13px;
}
@media (min-width: 700px) {
  .form__label--age {
    margin-right: 14px;
  }
}
@media (min-width: 1240px) {
  .form__label--age {
    margin-right: 14px;
  }
}
.form__label--email {
  margin-right: 11px;
}
@media (min-width: 700px) {
  .form__label--email {
    margin-right: 18px;
  }
}
@media (min-width: 1240px) {
  .form__label--email {
    margin-right: 20px;
  }
}
.form__label--phone {
  margin-right: 8px;
}
@media (min-width: 700px) {
  .form__label--phone {
    margin-right: 14px;
  }
}
@media (min-width: 1240px) {
  .form__label--phone {
    margin-right: 15px;
  }
}

.form__input {
  flex-grow: 1;
}

.form__input--comment {
  width: 100%;
  height: 151px;
  margin: 0;
  padding: 10px 15px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #444444;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: 0 0 0 1px #e7e7e7;
  transition: box-shadow 0.1s ease-out;
  -webkit-appearance: none;
          appearance: none;
  resize: none;
}
.form__input--comment::placeholder {
  opacity: 1;
  color: #444444;
}
.form__input--comment--disabled {
  background-color: #f2f2f2;
  pointer-events: none;
}
@media (min-width: 700px) {
  .form__input--comment {
    height: 174px;
    padding: 10px 19px;
    font-size: 20px;
  }
  .form__input--comment:hover {
    box-shadow: 0 0 0 1px #cdcdcd;
  }
  .form__input--comment:focus {
    box-shadow: 0 0 0 1px #444444 inset, 0 0 0 1px #444444;
  }
}

.form__input-icon {
  position: absolute;
}
.form__input:not(:placeholder-shown) ~ .form__input-icon {
  color: #ff8282;
}
.form__input:valid ~ .form__input-icon {
  color: #222222;
}
.form__input:focus ~ .form__input-icon {
  color: #68b738;
}

.form__input-icon--email {
  top: 16px;
  right: 15px;
  width: 20px;
  height: 14px;
}
@media (min-width: 700px) {
  .form__input-icon--email {
    top: 19px;
    right: 19px;
    width: 18px;
    height: 13px;
  }
}

.form__input-icon--phone {
  top: 13px;
  right: 13px;
  width: 20px;
  height: 20px;
}
@media (min-width: 700px) {
  .form__input-icon--phone {
    top: 16px;
    right: 17px;
    width: 20px;
    height: 20px;
  }
}

.form__legend-container {
  position: relative;
  margin-bottom: 36px;
}
.form__legend-container::before {
  display: block;
  position: absolute;
  top: 15px;
  left: calc(50% + 20px);
  width: calc(100vw - 40px);
  height: 2px;
  background-color: #68b738;
  transform: translateX(-50%);
  content: "";
}
@media (min-width: 700px) {
  .form__legend-container {
    margin-bottom: 76px;
  }
  .form__legend-container::before {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    width: 100vw;
    height: 2px;
    background-color: #68b738;
    transform: translateX(-50%);
    content: "";
  }
}
@media (min-width: 1240px) {
  .form__legend-container::before {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    width: 100vw;
    height: 2px;
    background-color: #68b738;
    transform: translateX(-50%);
    content: "";
  }
}

.form__legend {
  max-width: 300px;
  margin: 0;
  padding: 0;
  padding-right: 22px;
  background-color: #ffffff;
}
@media (min-width: 700px) {
  .form__legend {
    max-width: 600px;
    margin-left: -40px;
    padding-left: 41px;
    padding-right: 41px;
  }
  .form__legend br {
    display: none;
  }
}
@media (min-width: 1240px) {
  .form__legend {
    max-width: 650px;
    padding-left: 40px;
    padding-right: 35px;
  }
}

.form__button {
  padding: 10px;
  font-size: 16px;
  line-height: 125%;
}
@media (min-width: 700px) {
  .form__button {
    padding: 13px;
    font-size: 20px;
    line-height: 130%;
  }
}

.form__footnote {
  margin: 0;
  line-height: 114%;
  color: #000000;
  text-align: center;
}
@media (min-width: 700px) {
  .form__footnote {
    align-self: center;
    font-size: 16px;
    line-height: 100%;
    text-align: left;
  }
}

.label {
  display: block;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
@media (min-width: 700px) {
  .label {
    font-size: 20px;
    line-height: 150%;
  }
}
.label--accent {
  color: #222222;
}
.label--add {
  color: #000000;
}

.input-text {
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 13px 15px 14px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #444444;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: 0 0 0 1px #e7e7e7;
  transition: box-shadow 0.1s ease-out;
  -webkit-appearance: none;
  /*stylelint-disable property-no-vendor-prefix*/
  appearance: textfield;
}
.input-text::-webkit-outer-spin-button, .input-text::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.input-text:not(:placeholder-shown) {
  box-shadow: 0 0 0 1px #ff8282, 0 0 0 1px #ff8282 inset;
}
.input-text:valid {
  box-shadow: 0 0 0 1px #e7e7e7;
}
.input-text--disabled {
  background-color: #f2f2f2;
  pointer-events: none;
}
@media (min-width: 700px) {
  .input-text {
    height: 52px;
    padding: 11px 19px 12px;
    font-size: 20px;
  }
  .input-text:hover {
    box-shadow: 0 0 0 1px #cdcdcd;
  }
  .input-text:focus {
    box-shadow: 0 0 0 1px #444444 inset, 0 0 0 1px #444444;
  }
}

.input-text--disabled + label {
  pointer-events: none;
}

.input-text--accent {
  padding-right: 40px;
  box-shadow: 0 0 0 1px #cdcdcd;
}
.input-text--accent:valid {
  box-shadow: 0 0 0 1px #cdcdcd;
}
@media (min-width: 700px) {
  .input-text--accent {
    height: 52px;
    padding: 11px 19px 12px;
    padding-right: 56px;
    font-size: 20px;
  }
  .input-text--accent:hover {
    box-shadow: 0 0 0 1px #bababa;
  }
  .input-text--accent:focus {
    box-shadow: 0 0 0 1px #444444 inset, 0 0 0 1px #444444;
  }
}

.custom-radio {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px;
  padding-left: 46px;
  cursor: pointer;
}
@media (min-width: 700px) {
  .custom-radio {
    padding: 5px;
    padding-left: 60px;
  }
}
.custom-radio--disabled {
  pointer-events: none;
  opacity: 0.3;
}

.custom-radio__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  transition: border-color 0.1s ease-out;
}
.custom-radio__button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13.5px;
  height: 13.5px;
  border-radius: 50%;
  background-color: #68b738;
  transform: scale(0) translate(-50%, -50%);
  transform-origin: 0 0;
  transition: all 0.1s ease-out;
  opacity: 0;
  content: "";
}
@media (min-width: 700px) {
  .custom-radio__button {
    width: 40px;
    height: 40px;
  }
  .custom-radio__button::after {
    width: 18px;
    height: 18px;
  }
}
.custom-radio__input:checked + .custom-radio__button::after {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
  transition-delay: 0.1s;
}
.custom-radio__input:focus + .custom-radio__button {
  border-color: #bababa;
}
.custom-radio--disabled .custom-radio__button {
  opacity: 0.3;
  pointer-events: none;
}
@media (min-width: 700px) {
  .custom-radio:hover .custom-radio__button {
    border-color: #bababa;
  }
}

.custom-checkbox {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px;
  padding-left: 46px;
  cursor: pointer;
}
@media (min-width: 700px) {
  .custom-checkbox {
    padding: 5px;
    padding-left: 60px;
  }
}
.custom-checkbox--disabled {
  pointer-events: none;
  opacity: 0.3;
}

.custom-checkbox__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  transition: border-color 0.1s ease-out;
}
.custom-checkbox__button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 14px;
  color: #68b738;
  background-image: url('data:image/svg+xml,%3Csvg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7 11.718L1.3 5.26951L0.25 6.45739L7 14.0938L18.25 1.36648L17.2 0.09375L7 11.718Z" fill="%2368B738"/%3E%3C/svg%3E%0A');
  transform: scale(0) translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transform-origin: 0 0;
  transition: all 0.1s ease-out;
  opacity: 0;
  content: "";
}
@media (min-width: 700px) {
  .custom-checkbox__button {
    width: 40px;
    height: 40px;
  }
  .custom-checkbox__button::after {
    width: 18px;
    height: 18px;
  }
}
.custom-checkbox__input:checked + .custom-checkbox__button::after {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
  transition-delay: 0.1s;
}
.custom-checkbox__input:focus + .custom-checkbox__button {
  border-color: #bababa;
}
.custom-checkbox--disabled .custom-checkbox__button {
  opacity: 0.3;
  pointer-events: none;
}
@media (min-width: 700px) {
  .custom-checkbox:hover .custom-checkbox__button {
    border-color: #bababa;
  }
}
/*# sourceMappingURL=style.css.map */